In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/textile-machinery.html")

df_bse_textile = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_textile[['Company','others']]= df_bse_textile['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_textile['Company Name']=df_bse_textile['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_textile = df_bse_textile.iloc[ ::7 , :6: ]

df_bse_textile

         Company Name     Open     High      Low  Last Price  Prev Price
0               HTE      23.40    23.40    23.40       23.40       24.60
7       Indian Card      87.10    91.35    87.10       90.15       87.00
14     Integra Engg      19.00    20.00    18.90       19.50       18.30
21  Lakshmi Machine    2612.05  2612.05  2370.60     2388.35     2490.65
28  Meera Industrie      47.20    47.20    47.20       47.20       45.00
35       Stovec Ind    1573.00  1573.00  1430.05     1544.60     1431.30

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/textile-machinery.html")

df_nse_textile = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_textile[['Company','others']]= df_nse_textile['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_textile['Company Name']=df_nse_textile['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_textile = df_nse_textile.iloc[ ::7 , :6: ]

df_nse_textile

        Company Name     Open     High      Low  Last Price  Prev Price
0      Indian Card      84.55    84.55    84.55       84.55        83.4
7  Lakshmi Machine    2555.00  2600.00  2305.00     2394.15      2485.0

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/textile-spinning.html")

df_nse_textilespin = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_textilespin[['Company','others']]= df_nse_textilespin['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_textilespin['Company Name']=df_nse_textilespin['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_textilespin = df_nse_textilespin.iloc[ ::7 , :6: ]

df_nse_textilespin

        Company Name   Open   High    Low  Last Price  Prev Price
0  Precot Meridian    22.50  22.65  22.50       22.65        22.6
7        STI India     3.40   3.55   3.25        3.25         3.4

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/textile-spinning.html")

df_bse_textilespin = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_textilespin[['Company','others']]= df_bse_textilespin['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_textilespin['Company Name']=df_bse_textilespin['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_textilespin = df_bse_textilespin.iloc[ ::7 , :6: ]

df_bse_textilespin

       Company Name   Open   High    Low  Last Price  Prev Price
0  Dhanlaxmi Roto    10.80  11.75  10.75       10.75       11.20
7       STI India     3.66   4.00   3.66        3.66        3.85

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/textiles.html")

df_nse_textiles = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_textiles[['Company','others']]= df_nse_textiles['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_textiles['Company Name']=df_nse_textiles['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_textiles = df_nse_textiles.iloc[ ::7 , :6: ]

df_nse_textiles

         Company Name    Open    High     Low  Last Price  Prev Price
0   Cantabil Retail    219.95  220.00  210.00      212.30      216.20
7    Globe Textiles     26.00   26.00   26.00       26.00       26.90
14            RITES    255.00  284.00  239.00      246.50      241.85
21  Shiva Mills Lim     22.10   22.50   18.65       20.50       21.75
28     Standard Ind      9.85    9.85    9.70        9.70        9.85
35  TCNS Clothing C    374.00  385.00  342.00      355.65      350.00
42    Vardhman Text    707.00  719.80  640.00      661.60      661.25

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/textiles.html")

df_bse_textiles = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_textiles[['Company','others']]= df_bse_textiles['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_textiles['Company Name']=df_bse_textiles['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_textiles = df_bse_textiles.iloc[ ::7 , :6: ]

df_bse_textiles

         Company Name    Open    High     Low  Last Price  Prev Price
0     Advance Syntex     8.00    8.00    8.00        8.00        8.10
7   Cantabil Retail    216.35  216.50  210.80      210.80      213.80
14   Faze Three Exp     21.05   29.45   21.05       25.30       26.05
21   Fiberweb India      9.96    9.96    9.50        9.95        9.49
28  Kotia Enterpris     10.50   12.10    9.91       10.51       11.00
35      Olympia Ind      9.98    9.98    9.98        9.98        9.98
42          Osiajee     39.00   39.00   37.00       38.45       38.50
49            RITES    250.50  284.35  243.15      246.15      241.20
56  Shiva Mills Lim     21.70   21.70   19.75       20.45       18.10
63   Sky Industries     30.95   30.95   30.95       30.95       30.95
70     Standard Ind      8.85    9.25    8.85        9.25        9.31
77  TCNS Clothing C    379.00  379.00  330.15      360.00      345.30
84    Tirupati Foam     42.85   42.85   42.85       42.85       45.10
91    Vardhman Text    704.95  705.00  640.05      672.65      659.85
98  Voith Paper Fab    799.90  799.90  740.00      745.45      779.00

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/textiles-apparel.html")

df_nse_apparel = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_apparel[['Company','others']]= df_nse_apparel['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_apparel['Company Name']=df_nse_apparel['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_apparel = df_nse_apparel.iloc[ ::7 , :6: ]

df_nse_apparel

          Company Name    Open    High     Low  Last Price  Prev Price
0       Aarvee Denim      7.80    8.45    7.55        8.10        8.20
7    Alok Industries      4.35    4.35    4.35        4.35        4.55
14   Alps Industries      0.85    0.90    0.85        0.85        0.85
21     Ambika Cotton    559.95  579.00  504.45      548.05      522.80
28            Arvind     23.00   24.15   21.75       22.05       22.50
..                 ...     ...     ...     ...         ...         ...
630     VIP Clothing      3.80    3.80    3.65        3.80        3.65
637   Vishal Fabrics    144.10  151.20  144.10      151.20      144.00
644         Weizmann     21.45   21.45   21.45       21.45       20.45
651    Welspun India     21.50   21.85   19.05       19.70       20.70
658  Zodiac Clothing    108.70  115.00   83.95       99.95       98.00

[95 rows x 6 columns]

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/textiles-apparel.html")

df_bse_apparel = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_apparel[['Company','others']]= df_bse_apparel['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_apparel['Company Name']=df_bse_apparel['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_apparel = df_bse_apparel.iloc[ ::7 , :6: ]

df_bse_apparel

           Company Name    Open    High     Low  Last Price  Prev Price
0         A K Spintex     11.35   11.35   11.35       11.35       11.90
7        Aarvee Denim      7.66    8.70    7.51        8.21        8.11
14    Acknit Industri     45.95   45.95   36.30       44.70       40.00
21    Aditya Spinners      4.98    4.98    4.98        4.98        4.99
28     Akshar Spintex      6.75    6.75    6.70        6.70        6.28
...                 ...     ...     ...     ...         ...         ...
1001    White Organic      4.46    4.46    4.04        4.46        4.25
1008  Winsome Textile     14.90   16.00   14.90       15.85       15.50
1015  Wires and Fabri     51.00   51.00   51.00       51.00       53.50
1022    Zenith Fibres     24.40   30.45   24.35       30.00       27.20
1029  Zodiac Clothing    108.95  110.00  108.95      110.00       94.05

[148 rows x 6 columns]

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/trading.html")

df_nse_trading = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_trading[['Company','others']]= df_nse_trading['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_trading['Company Name']=df_nse_trading['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_trading = df_nse_trading.iloc[ ::7 , :6: ]

df_nse_trading

          Company Name    Open    High     Low  Last Price  Prev Price
0    Adani Enterpris    146.00  151.00  126.25      128.00      140.25
7                AGL     95.25   95.75   87.30       88.50       90.65
14      Ausom Enterp     26.75   26.80   26.75       26.75       25.55
21   Balaxi Ventures     71.05   71.05   64.35       69.00       67.70
28       Hexa Tradex      6.40    6.70    6.10        6.70        6.40
35   Indiabulls Inte     47.25   52.15   47.25       47.25       49.70
42   Kothari Product     33.10   34.65   32.00       34.10       32.50
49          MMTC Ltd     11.25   13.25   11.25       12.40       11.05
56              MSTC     82.85   83.25   75.55       76.15       79.50
63     Proseed India      0.00    0.25    0.25        0.25        0.25
70   PTL Enterprises     28.20   29.90   27.55       27.85       27.00
77         Redington     63.55   67.95   62.00       62.30       63.40
84               SEL      3.85    3.85    3.15        3.35        3.55
91     Sicagen India      8.30    9.20    8.05        8.75        8.45
98        Signet Ind     14.60   17.80   14.60       14.95       15.10
105        STC India     31.45   31.85   29.95       31.65       30.35
112          Sundram    264.20  293.70  258.10      286.35      254.80
119      Uniphos Ent     38.85   42.65   37.55       39.85       38.85
126       Zenithexpo     32.95   32.95   32.00       32.55       31.95

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/trading.html")

df_bse_trading = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_trading[['Company','others']]= df_bse_trading['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_trading['Company Name']=df_bse_trading['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_trading = df_bse_trading.iloc[ ::7 , :6: ]

df_bse_trading

          Company Name    Open    High     Low  Last Price  Prev Price
0            A-1 Acid    58.50   58.75   58.50       58.75       54.30
7    ABans Enterpris    205.00  205.00  190.40      190.40      200.40
14   Adani Enterpris    142.50  151.00  126.55      128.05      140.60
21     Advitiya Trade    26.60   28.00   26.60       28.00       28.00
28               AGL     95.00   96.00   87.50       88.55       90.70
35           Amforge      0.63    0.63    0.63        0.63        0.60
42      Amrapali Ind      3.36    3.36    3.36        3.36        3.20
49     Apollo Tricoat   311.00  314.90  290.10      294.40      299.95
56        Atharv Ent      0.39    0.39    0.39        0.39        0.38
63      Ausom Enterp     33.10   33.10   33.10       33.10       34.80
70     Beekay Niryat     11.70   11.70   11.70       11.70       12.00
77       Binny Mills     44.10   44.10   43.00       43.00       42.00
84      Bombay Cycle    490.00  490.00  490.00      490.00      488.95
91   CCL Internation      2.69    2.69    2.69        2.69        2.83
98      Chemtech Ind      8.98    9.44    8.98        9.00        9.00
105   Competent Auto    107.90  107.90   86.70       91.05       96.00
112         Cravatex    314.00  314.00  314.00      314.00      314.00
119    Empower India      0.19    0.19    0.19        0.19        0.19
126  Fraser and Comp      2.68    2.68    2.63        2.63        2.68
133   Gaurav Mercant    154.00  154.00  154.00      154.00      154.00
140      Gautam Exim     23.95   26.00   23.95       25.00       26.60
147    Grandeur Prod    304.00  304.00  302.00      302.00      289.95
154    Gujarat Metal      6.00    6.00    6.00        6.00        5.80
161      Hexa Tradex      7.32    7.32    7.32        7.32        7.70
168              HKG     88.00   88.50   88.00       88.00       84.50
175  Indiabulls Inte     47.30   52.20   47.30       47.30       49.75
182  Khemani Distrib    148.00  149.00  148.00      149.00      148.00
189  Kothari Product     32.50   35.55   32.25       34.30       33.20
196      Lahoti Over      7.15    8.69    7.15        8.54        8.00
203  Maximus Interna     70.45   70.45   70.45       70.45       69.00
210   Mishtann Foods      5.18    5.18    5.18        5.18        5.08
217         MMTC Ltd     11.75   13.25   11.35       12.45       11.05
224     Modern India     45.30   45.30   45.30       45.30       47.60
231             MSTC     82.80   83.00   75.45       76.05       79.35
238       Mukta Agri      3.59    3.59    3.59        3.59        3.66
245     O. P. Chains     11.00   11.00   11.00       11.00       11.00
252  Pazel Internati      0.40    0.44    0.40        0.44        0.42
259       Preeti Sec      6.00    6.00    6.00        6.00        6.31
266  PTL Enterprises     29.50   29.50   27.50       27.50       26.75
273     Radhey Trade     21.10   21.10   21.10       21.10       22.20
280        Redington     65.00   67.10   61.90       62.60       63.25
287          Sat Ind     17.60   17.70   17.00       17.70       17.60
294              SEL      3.61    3.70    3.21        3.24        3.71
301    Sicagen India      8.50    9.99    8.50        8.83        8.50
308       Signet Ind     15.60   15.90   14.80       14.85       14.95
315         SPS Intl     22.75   22.75   22.75       22.75       21.70
322        STC India     31.00   32.10   31.00       31.90       30.60
329          Sundram    264.50  293.80  258.90      286.15      255.45
336       SVP Global    265.00  309.00  265.00      305.95      277.25
343   Tai Industries      8.85    8.85    8.01        8.01        8.43
350   TCI Industries    581.00  581.00  581.00      581.00      580.00
357      Uniphos Ent     42.10   42.10   39.20       39.20       39.05
364      Ushdev Intl      0.21    0.21    0.21        0.21        0.21
371          Veritas     26.95   26.95   26.95       26.95       27.50
378       Vyapar Ind     40.20   40.20   40.20       40.20       38.30
385   Yarn Syndicate      2.85    2.85    2.85        2.85        2.85

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/transmission-towers-equipments.html")

df_nse_tranamssion = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_tranamssion[['Company','others']]= df_nse_tranamssion['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_tranamssion['Company Name']=df_nse_tranamssion['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_tranamssion = df_nse_tranamssion.iloc[ ::7 , :6: ]

df_nse_tranamssion

        Company Name    Open   High    Low  Last Price  Prev Price
0  Kalpataru Power    187.00  187.0  169.5      178.85      179.65

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/transmission-towers-equipments.html")

df_bse_tranamssion = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_tranamssion[['Company','others']]= df_bse_tranamssion['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_tranamssion['Company Name']=df_bse_tranamssion['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_tranamssion = df_bse_tranamssion.iloc[ ::7 , :6: ]

df_bse_tranamssion

        Company Name    Open    High    Low  Last Price  Prev Price
0  Kalpataru Power    184.90  186.75  170.0       179.7       179.8

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/transport-infrastructure.html")

df_nse_transport = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_transport[['Company','others']]= df_nse_transport['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_transport['Company Name']=df_nse_transport['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_transport = df_nse_transport.iloc[ ::7 , :6: ]

df_nse_transport

    Company Name    Open   High    Low  Last Price  Prev Price
0  Adani Ports    259.00  259.6  244.0       251.3       248.2

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/transport-infrastructure.html")

df_bse_transport = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_transport[['Company','others']]= df_bse_transport['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_transport['Company Name']=df_bse_transport['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_transport = df_bse_transport.iloc[ ::7 , :6: ]

df_bse_transport

      Company Name    Open    High     Low  Last Price  Prev Price
0    Adani Ports    272.00  272.00  244.55      251.75      248.20
7  Duke Offshore      4.28    4.42    4.00        4.42        4.21

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/travel-services.html")

df_nse_travels = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_travels[['Company','others']]= df_nse_travels['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_travels['Company Name']=df_nse_travels['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_travels = df_nse_travels.iloc[ ::7 , :6: ]

df_nse_travels

         Company Name   Open   High    Low  Last Price  Prev Price
0   BLS Internation    31.95  31.95  28.35       28.95       31.50
7       Cox & Kings     0.55   0.55   0.50        0.55        0.50
14      Thomas Cook    24.60  24.60  24.00       24.25       23.45

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/travel-services.html")

df_bse_travels = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_travels[['Company','others']]= df_bse_travels['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_travels['Company Name']=df_bse_travels['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_travels = df_bse_travels.iloc[ ::7 , :6: ]

df_bse_travels

         Company Name   Open   High    Low  Last Price  Prev Price
0   BLS Internation    29.70  31.50  28.35       28.90       31.30
7       Cox & Kings     0.51   0.52   0.48        0.52        0.50
14      Crown Tours    17.55  17.55  17.30       17.55       17.25
21      Intl Travel    42.90  43.50  40.00       41.30       41.40
28      Thomas Cook    24.00  24.45  24.00       24.25       23.30
35   Transcorp Intl     9.10   9.10   9.10        9.10        9.10
42     VMV Holidays    26.30  26.30  26.30       26.30       27.00

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/tv-broadcasting-software-production.html")

df_nse_software = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_software[['Company','others']]= df_nse_software['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_software['Company Name']=df_nse_software['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_software = df_nse_software.iloc[ ::7 , :6: ]

df_nse_software

         Company Name    Open    High     Low  Last Price  Prev Price
0   Ent Network Ind    133.60  133.60  117.30      121.30      123.60
7      Jain Studios      0.85    0.85    0.85        0.85        0.80
14  Music Broadcast     14.50   15.00   12.20       12.70       14.30
21             NDTV     25.05   26.00   22.85       23.25       25.00
28       Network 18     17.40   17.45   16.10       17.20       16.65
35       Nxtdigital    250.00  254.10  241.40      244.15      231.00
42       Ortel Comm      0.45    0.45    0.40        0.40        0.45
49   Raj Television     31.00   31.00   28.85       29.45       28.95
56    Siti Networks      0.55    0.60    0.55        0.55        0.55
63   Sun TV Network    305.10  316.75  284.20      286.90      303.30
70  TV TodayNetwork    166.00  177.05  152.05      165.85      164.65
77        TV Vision      0.00    1.05    1.05        1.05        1.05
84   TV18 Broadcast     15.00   15.20   13.35       13.65       14.35
91    Zee Entertain    132.00  138.65  127.00      128.05      128.75
98        Zee Media      3.15    3.30    3.15        3.30        3.15

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/tv-broadcasting-software-production.html")

df_bse_software = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_software[['Company','others']]= df_bse_software['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_software['Company Name']=df_bse_software['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_software = df_bse_software.iloc[ ::7 , :6: ]

df_bse_software

         Company Name    Open    High     Low  Last Price  Prev Price
0   Ent Network Ind    140.95  140.95  120.00      120.25      128.95
7      Jain Studios      0.81    0.81    0.81        0.81        0.85
14  Music Broadcast     14.40   14.65   12.50       13.05       14.30
21             NDTV     25.50   25.50   23.00       23.85       24.65
28       Network 18     17.10   17.60   16.25       16.80       16.85
35       Nxtdigital    254.15  254.15  239.00      254.00      231.05
42       Ortel Comm      0.48    0.48    0.48        0.48        0.48
49   Padmalaya Tele      1.14    1.14    1.09        1.09        1.14
56   Raj Television     31.15   31.15   31.15       31.15       29.05
63    Siti Networks      0.56    0.58    0.56        0.56        0.56
70   Sun TV Network    310.00  316.40  284.00      286.70      303.85
77  TV TodayNetwork    170.90  172.15  155.70      166.30      164.35
84   TV18 Broadcast     15.65   15.65   13.40       13.75       14.35
91    Zee Entertain    129.00  139.50  127.00      128.05      128.80
98        Zee Media      3.30    3.30    3.30        3.30        3.15

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/vegetable-oils-products.html")

df_nse_oil = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_oil[['Company','others']]= df_nse_oil['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_oil['Company Name']=df_nse_oil['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_oil = df_nse_oil.iloc[ ::7 , :6: ]

df_nse_oil

         Company Name    Open    High     Low  Last Price  Prev Price
0   Agro Tech Foods    448.95  450.00  403.00      411.40      412.25
7       AVT Natural     22.10   23.35   21.10       21.40       21.65
14       Gokul Agro      8.50    8.50    8.00        8.45        8.15
21    Gokul Refoils      8.00    8.40    7.65        7.75        8.00
28     JVL Agro Ind      0.25    0.30    0.25        0.25        0.25
35    NK Industries     10.40   10.40   10.40       10.40       10.90
42       Ruchi Soya    156.10  156.10  156.10      156.10      148.70
49        Ruchinfra      1.80    1.80    1.75        1.80        1.80
56  Sanwaria Consum      1.00    1.05    0.95        0.95        1.00

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/vegetable-oils-products.html")

df_bse_oil = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_oil[['Company','others']]= df_bse_oil['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_oil['Company Name']=df_bse_oil['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_oil = df_bse_oil.iloc[ ::7 , :6: ]

df_bse_oil

          Company Name    Open    High     Low  Last Price  Prev Price
0    Agro Tech Foods    441.35  452.50  414.00      420.90      421.90
7        Ajanta Soya     22.55   22.55   21.60       21.90       21.50
14       AVT Natural     24.05   24.05   20.80       21.10       22.45
21       BCL Limited     31.00   31.20   30.00       31.20       29.75
28        Gokul Agro      8.98    8.99    8.17        8.43        8.60
35         Kavit Ind     92.50   92.90   84.00       85.05       86.25
42   Kriti Nutrients     15.00   15.50   14.50       14.85       14.85
49   Manorama Indust    299.00  299.00  299.00      299.00      297.20
56     Modi Naturals     18.85   18.85   18.85       18.85       19.80
63         Poona Dal     19.35   19.35   16.60       19.30       18.00
70         Prima Ind      7.80    7.80    7.80        7.80        7.80
77        Ruchi Soya    154.90  154.90  154.90      154.90      147.55
84         Ruchinfra      2.00    2.00    2.00        2.00        2.05
91   Sanwaria Consum      0.98    1.00    0.94        0.95        0.96
98    Vegetable Prod      2.70    2.70    2.70        2.70        2.70
105     Vijay Solvex    326.25  326.25  313.60      326.25      319.95

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/watches-accessories.html")

df_nse_watches = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_watches[['Company','others']]= df_nse_watches['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_watches['Company Name']=df_nse_watches['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_watches = df_nse_watches.iloc[ ::7 , :6: ]

df_nse_watches

  Company Name    Open   High    Low  Last Price  Prev Price
0       KDDL    119.95  120.0  111.5       118.0       115.3

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/watches-accessories.html")

df_bse_watches = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_watches[['Company','others']]= df_bse_watches['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_watches['Company Name']=df_bse_watches['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_watches = df_bse_watches.iloc[ ::7 , :6: ]

df_bse_watches

        Company Name    Open    High     Low  Last Price  Prev Price
0             KDDL    126.35  126.35  126.35      126.35       133.0
7  Timex Group Ind     18.15   20.55   16.85       16.85        18.7

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/wood-wood-products.html")

df_nse_wood = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_wood[['Company','others']]= df_nse_wood['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_wood['Company Name']=df_nse_wood['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_wood = df_nse_wood.iloc[ ::7 , :6: ]

df_nse_wood

         Company Name    Open    High     Low  Last Price  Prev Price
0     Archidply Ind     15.45   18.25   14.55       17.65       15.40
7   CenturyPlyboard    114.90  119.10  112.00      115.10      111.20
14     Greenply Ind     84.10   89.80   77.10       78.55       83.55
21  Mangalam Timber      7.25    7.25    7.25        7.25        7.60

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/wood-wood-products.html")

df_bse_wood = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_wood[['Company','others']]= df_bse_wood['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_wood['Company Name']=df_bse_wood['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_wood = df_bse_wood.iloc[ ::7 , :6: ]

df_bse_wood

         Company Name    Open    High     Low  Last Price  Prev Price
0     Archidply Ind     18.35   18.65   15.60       17.75       15.60
7       Bloom Dekor      9.20    9.20    9.20        9.20        8.79
14  CenturyPlyboard    115.10  118.45  112.70      114.95      110.00
21  Duroply Industr     25.00   29.85   25.00       27.00       24.90
28     Greenply Ind     89.95   89.95   77.05       79.15       85.90
35  Mangalam Timber      8.16    8.16    8.16        8.16        8.58
42  Oriental Veneer     33.50   33.50   30.00       30.75       32.55
49    Pratik Panels      1.55    1.55    1.55        1.55        1.60
56     Uniply Decor      2.95    3.00    2.95        2.95        3.10

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/sugar.html")

df_nse_sugar = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_sugar[['Company','others']]= df_nse_sugar['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_sugar['Company Name']=df_nse_sugar['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_sugar = df_nse_sugar.iloc[ ::7 , :6: ]

df_nse_sugar

          Company Name    Open    High     Low  Last Price  Prev Price
0       Andhra Sugar    152.00  164.20  152.00      162.85      149.30
7         Avadh Sugar   107.20  107.20  106.30      107.20      102.10
14   Bajaj Hindustha      2.35    2.45    2.35        2.45        2.35
21   Balrampur Chini     90.20   90.20   89.05       90.20       82.00
28      Bannariamman    800.00  841.60  765.10      811.35      765.10
35      Dalmia Sugar     43.85   43.85   43.85       43.85       41.80
42     Dhampur Sugar     74.75   74.75   74.75       74.75       71.20
49    Dharani Sugars      5.00    5.10    4.80        5.10        4.65
56   Dwarikesh Sugar     15.05   15.05   15.05       15.05       14.35
63         EID Parry    125.00  133.05  121.00      125.05      124.35
70         KCP Sugar     10.10   10.90   10.10       10.30        9.90
77    KM Sugar Mills      6.70    6.85    6.05        6.35        6.20
84    Kothari Sugars      9.15    9.15    7.75        8.05        8.35
91       Magadh Sugar    59.50   59.55   56.80       59.55       56.75
98     Mawana Sugars     19.70   19.70   19.05       19.70       17.95
105  Ponni Sugars(E)    119.35  119.45  105.25      113.00      103.60
112  Rajshree Sugars     10.60   11.60    9.80        9.95       10.20
119      Rana Sugars      3.00    3.00    2.85        2.95        2.90
126    Sakthi Sugars      6.80    7.05    6.45        6.50        6.50
133     Shree Renuka      3.75    3.95    3.65        3.90        3.60
140  Simbhaoli Sugar      3.70    3.90    3.70        3.90        3.75
147    Thiru Arooran      3.00    3.00    3.00        3.00        3.15
154     Triveni Engg     33.05   33.05   32.50       33.05       31.50
161  Ugar Sugar Work      9.95   10.35    9.55        9.90        9.65
168      Uttam Sugar     46.80   46.80   44.80       46.75       44.60
175  Vishwaraj Sugar     70.00   70.00   51.30       62.40       60.65

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/sugar.html")

df_bse_sugar = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_sugar[['Company','others']]= df_bse_sugar['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_sugar['Company Name']=df_bse_sugar['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_sugar = df_bse_sugar.iloc[ ::7 , :6: ]

df_bse_sugar

                                          Company Name  ... Prev Price
0    Andhra Sugar  Add to  Watchlist | Portfolio AC...  ...     148.55
7    Avadh Sugar Add to  Watchlist | Portfolio ACTI...  ...     102.55
14   Bajaj Hindustha  Add to  Watchlist | Portfolio...  ...       2.37
21   Balrampur Chini  Add to  Watchlist | Portfolio...  ...      81.85
28   Bannariamman  Add to  Watchlist | Portfolio AC...  ...     767.60
35   Dalmia Sugar  Add to  Watchlist | Portfolio AC...  ...      42.30
42   DCM Shriram Ind  Add to  Watchlist | Portfolio...  ...      94.80
49   Dhampur Sugar  Add to  Watchlist | Portfolio A...  ...      71.55
56   Dhampure Specia  Add to  Watchlist | Portfolio...  ...      10.50
63   Dharani Sugars  Add to  Watchlist | Portfolio ...  ...       5.19
70   Dwarikesh Sugar  Add to  Watchlist | Portfolio...  ...      14.30
77   EID Parry  Add to  Watchlist | Portfolio ACTIO...  ...     123.70
84   India Sucrose  Add to  Watchlist | Portfolio A...  ...      14.45
91   KCP Sugar  Add to  Watchlist | Portfolio ACTIO...  ...       9.68
98   KM Sugar Mills  Add to  Watchlist | Portfolio ...  ...       6.37
105  Magadh Sugar Add to  Watchlist | Portfolio ACT...  ...      58.60
112  Mawana Sugars  Add to  Watchlist | Portfolio A...  ...      17.85
119  Ponni Sugars(E)  Add to  Watchlist | Portfolio...  ...     107.40
126  Rajshree Sugars  Add to  Watchlist | Portfolio...  ...      10.30
133  Rana Sugars  Add to  Watchlist | Portfolio ANN...  ...       2.96
140  Ravalgaon Sugar  Add to  Watchlist | Portfolio...  ...    1304.45
147  Sakthi Sugars  Add to  Watchlist | Portfolio A...  ...       6.47
154  Shree Renuka  Add to  Watchlist | Portfolio AC...  ...       3.63
161  Simbhaoli Sugar  Add to  Watchlist | Portfolio...  ...       3.76
168  Sir Shadi Lal  Add to  Watchlist | Portfolio A...  ...      27.85
175  Thiru Arooran  Add to  Watchlist | Portfolio A...  ...       3.65
182  Triveni Engg  Add to  Watchlist | Portfolio AC...  ...      31.65
189  Ugar Sugar Work  Add to  Watchlist | Portfolio...  ...       9.64
196  Uttam Sugar  Add to  Watchlist | Portfolio ACT...  ...      44.70
203  Vishwaraj Sugar  Add to  Watchlist | Portfolio...  ...      63.50

[30 rows x 6 columns]

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/specialty-mining-metals.html")

df_nse_mining = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_mining[['Company','others']]= df_nse_mining['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_mining['Company Name']=df_nse_mining['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_mining = df_nse_mining.iloc[ ::7 , :6: ]

df_nse_mining

         Company Name    Open    High     Low  Last Price  Prev Price
0        20 Microns     22.50   23.95   21.60       23.15       21.75
7     Ashapura Mine     20.55   21.15   20.05       20.50       20.15
14             MOIL    100.90  118.70  100.55      102.20      100.25
21  South West Pinn     11.55   12.50    9.50       11.45       11.75

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/specialty-mining-metals.html")

df_bse_mining = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_mining[['Company','others']]= df_bse_mining['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_mining['Company Name']=df_bse_mining['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_mining = df_bse_mining.iloc[ ::7 , :6: ]

df_bse_mining

       Company Name    Open    High    Low  Last Price  Prev Price
0      20 Microns     22.45   24.60   21.7       23.80       20.80
7   Ashapura Mine     20.70   21.05   20.5       20.65       20.05
14           MOIL    102.65  117.20  101.0      102.15      100.10

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/misc.-commercial-services.html")

df_nse_misc = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_misc[['Company','others']]= df_nse_misc['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_misc['Company Name']=df_nse_misc['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_misc = df_nse_misc.iloc[ ::7 , :6: ]

df_nse_misc

         Company Name     Open     High      Low  Last Price  Prev Price
0           Alankit       9.95    10.05     9.55        9.90        9.60
7     ANI Integrated     17.00    18.40    17.00       18.40       17.85
14     Cadsys India      16.95    16.95    16.95       16.95       16.15
21             CDSL     211.35   220.00   201.95      207.20      205.85
28       Delta Corp      59.30    59.30    59.00       59.30       56.50
35        Info Edge    2149.00  2196.00  1980.00     2050.45     2028.30
42            IRCTC     898.95   898.95   898.95      898.95      856.15
49       Quess Corp     218.00   238.20   215.60      215.75      226.90
56  SecUR Credentia      19.55    21.45    19.55       19.55       20.55
63              SIS     425.00   474.00   417.00      431.65      420.05
70   TeamLease Ser.    1748.00  1798.80  1502.00     1537.80     1690.25
77  Touchwood Enter      52.00    52.00    46.45       51.65       50.80

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/misc.-commercial-services.html")

df_bse_misc = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_misc[['Company','others']]= df_bse_misc['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_misc['Company Name']=df_bse_misc['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_misc = df_bse_misc.iloc[ ::7 , :6: ]

df_bse_misc

         Company Name     Open     High      Low  Last Price  Prev Price
0           Alankit       9.70     9.70     9.70        9.70        9.25
7        Delta Corp      59.50    59.50    59.05       59.50       56.70
14        Info Edge    2118.15  2130.60  1979.95     2058.60     2033.25
21            IRCTC     899.15   899.15   899.15      899.15      856.35
28       Quess Corp     228.00   237.00   214.55      215.60      225.75
35  Rithwik Facilit      42.00    42.00    42.00       42.00       43.50
42              SIS     448.35   475.00   416.75      432.95      422.70
49   TeamLease Ser.    1776.80  1776.80  1514.65     1528.70     1697.95

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/miscellaneous.html")

df_nse_miscell = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_miscell[['Company','others']]= df_nse_miscell['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_miscell['Company Name']=df_nse_miscell['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_miscell = df_nse_miscell.iloc[ ::7 , :6: ]

df_nse_miscell

         Company Name    Open    High     Low  Last Price  Prev Price
0             Cupid    147.00  149.90  138.00      139.10      139.10
7         IRB InvIT     29.99   30.20   26.50       27.00       28.95
14             Kaya    103.80  106.05   95.95      105.80      101.00
21  R M Drip & Spri     17.50   17.50   17.50       17.50       17.50
28   Sanghvi Movers     53.90   53.90   49.05       49.20       51.60
35  Talwalkars Heal      0.80    0.90    0.80        0.90        0.85
42    Va Tech Wabag    100.00  100.00   90.55       90.60       95.30
49  Vardhman Acryli     28.00   28.00   26.30       27.20       26.40
56    Xelpmoc Design    53.00   53.00   46.60       47.35       48.50

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/miscellaneous.html")

df_bse_miscell = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_miscell[['Company','others']]= df_bse_miscell['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_miscell['Company Name']=df_bse_miscell['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_miscell = df_bse_miscell.iloc[ ::7 , :6: ]

df_bse_miscell

         Company Name    Open    High     Low  Last Price  Prev Price
0       Cosco India     69.00   71.00   58.40       59.70       67.90
7             Cupid    145.75  156.90  138.00      140.75      140.15
14        IRB InvIT     33.00   33.00   26.58       27.97       28.46
21             Kaya    100.50  106.10   96.00      106.10      101.05
28   Sanghvi Movers     56.00   56.00   50.95       50.95       53.60
35  Talwalkars Heal      0.75    0.75    0.75        0.75        0.78
42    Va Tech Wabag     96.15  100.95   91.35       91.65       96.15
49  Vivanta Industr      2.94    2.94    2.94        2.94        3.09
56    Xelpmoc Design    51.80   51.80   50.80       51.65       43.20

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/multiline-insurance-brokers.html")

df_nse_insurance = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_insurance[['Company','others']]= df_nse_insurance['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_insurance['Company Name']=df_nse_insurance['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_insurance = df_nse_insurance.iloc[ ::7 , :6: ]

df_nse_insurance

        Company Name     Open    High    Low  Last Price  Prev Price
0     ICICI Lombard   1080.00  1179.7  980.0     1022.75     1096.80
7  New India Assur      99.00   113.8   96.0       98.60       94.85

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/multiline-insurance-brokers.html")

df_bse_insurance = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_insurance[['Company','others']]= df_bse_insurance['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_insurance['Company Name']=df_bse_insurance['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_insurance = df_bse_insurance.iloc[ ::7 , :6: ]

df_bse_insurance

        Company Name     Open     High     Low  Last Price  Prev Price
0     ICICI Lombard   1100.00  1180.00  981.75      1022.9     1093.55
7  New India Assur      96.10   110.15   96.00        98.9       95.00

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/oil-exploration-and-production.html")

df_nse_oilexp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_oilexp[['Company','others']]= df_nse_oilexp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_oilexp['Company Name']=df_nse_oilexp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_oilexp = df_nse_oilexp.iloc[ ::7 , :6: ]

df_nse_oilexp

         Company Name     Open    High      Low  Last Price  Prev Price
0     Aban Offshore      13.45    14.0    13.15       13.50       13.45
7   Deep Industries      54.00    54.0    48.60       49.65       49.15
14             HOEC      36.00    36.6    34.10       35.35       35.10
21  Jindal Drilling      48.15    49.0    43.50       44.05       44.90
28        Oil India      77.40    79.5    75.00       77.60       76.55
35             ONGC      66.00    66.0    62.80       64.45       64.75
42     Petronet LNG     193.50   204.5   186.15      193.45      190.05
49         Reliance    1095.00  1107.3  1046.20     1065.60     1066.20
56    Selan Explore      70.35    70.8    63.90       64.95       67.50

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/oil-exploration-and-production.html")

df_bse_oilexp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_oilexp[['Company','others']]= df_bse_oilexp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_oilexp['Company Name']=df_bse_oilexp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_oilexp = df_bse_oilexp.iloc[ ::7 , :6: ]

df_bse_oilexp

         Company Name     Open     High      Low  Last Price  Prev Price
0     Aban Offshore      13.60    14.20    13.25       13.55       13.60
7    Asian Oilfield      73.90    74.10    67.10       67.15       70.60
14  Continent Petro      12.50    12.50    12.40       12.40       13.00
21  Deep Industries      51.55    52.20    48.75       48.95       49.55
28             HOEC      36.80    36.95    34.15       35.35       34.85
35  Jindal Drilling      49.30    49.30    43.80       44.35       45.00
42        Oil India      77.00    79.40    75.10       77.70       76.80
49             ONGC      66.00    66.20    62.75       64.30       64.80
56     Petronet LNG     194.50   204.40   186.80      193.55      189.95
63         Reliance    1100.00  1107.70  1047.25     1065.50     1074.75
70    Selan Explore      69.95    69.95    63.25       64.00       68.40

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/online-services.html")

df_nse_online = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_online[['Company','others']]= df_nse_online['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_online['Company Name']=df_nse_online['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_online = df_nse_online.iloc[ ::7 , :6: ]

df_nse_online

      Company Name    Open   High    Low  Last Price  Prev Price
0      Just Dial    298.95  318.0  270.0      277.65      292.45
7  Matrimony.com    345.00  388.0  275.0      279.85      323.40

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/other-agriculture-products.html")

df_nse_agri = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_agri[['Company','others']]= df_nse_agri['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_agri['Company Name']=df_nse_agri['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_agri = df_nse_agri.iloc[ ::7 , :6: ]

df_nse_agri

         Company Name    Open    High     Low  Last Price  Prev Price
0   Guj Amb Exports    112.00  112.00  101.30      105.45      104.80
7   Karuturi Global      0.15    0.25    0.15        0.20        0.20
14   Techindia Nirm      0.00    2.20    2.00        2.00        2.10
21    Vikas Proppant     7.05    7.05    7.05        7.05        7.15

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/other-agriculture-products.html")

df_bse_agri = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_agri[['Company','others']]= df_bse_agri['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_agri['Company Name']=df_bse_agri['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_agri = df_bse_agri.iloc[ ::7 , :6: ]

df_bse_agri

         Company Name    Open    High     Low  Last Price  Prev Price
0   Guj Amb Exports    106.30  111.05  101.00      105.90      105.55
7   Karuturi Global      0.19    0.20    0.19        0.20        0.19
14  Kothari Ferment     32.90   33.00   27.25       31.00       27.75
21    Vikas Proppant     6.86    6.86    6.86        6.86        7.00

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/online-services.html")

df_nse_online = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_online[['Company','others']]= df_nse_online['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_online['Company Name']=df_nse_online['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_online = df_nse_online.iloc[ ::7 , :6: ]

df_nse_online

      Company Name    Open   High     Low  Last Price  Prev Price
0      Just Dial    304.00  317.5  270.15       278.0      292.80
7  Matrimony.com    347.15  351.9  277.60       278.3      297.95

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/other-construction-materials.html")

df_nse_ocm = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_ocm[['Company','others']]= df_nse_ocm['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_ocm['Company Name']=df_nse_ocm['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_ocm = df_nse_ocm.iloc[ ::7 , :6: ]

df_nse_ocm

       Company Name   Open  High   Low  Last Price  Prev Price
0  Responsive Ind    81.10  84.0  80.0       83.65       81.75

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/other-construction-materials.html")

df_bse_ocm = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_ocm[['Company','others']]= df_bse_ocm['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_ocm['Company Name']=df_bse_ocm['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_ocm = df_bse_ocm.iloc[ ::7 , :6: ]

df_bse_ocm

       Company Name   Open  High    Low  Last Price  Prev Price
0  Responsive Ind    80.05  83.5  80.05        83.2        80.0

In [0]:
import pandas as pd

'''raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/others-industrial-gases-fuels.html")

df_nse_oim = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_oim[['Company','others']]= df_nse_oim['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_oim['Company Name']=df_nse_oim['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_oim = df_nse_oim.iloc[ ::7 , :6: ]

df_nse_oim'''

ValueError: ignored

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/others-industrial-gases-fuels.html")

df_bse_oim = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_oim[['Company','others']]= df_bse_oim['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_oim['Company Name']=df_bse_oim['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_oim = df_bse_oim.iloc[ ::7 , :6: ]

df_bse_oim

    Company Name   Open  High   Low  Last Price  Prev Price
0  Agarwal Ind    50.00  50.0  50.0        50.0        50.0

In [0]:
import pandas as pd

'''raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/others-manufacturing.html")

df_nse_om = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_om[['Company','others']]= df_nse_om['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_om['Company Name']=df_nse_om['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_om = df_nse_om.iloc[ ::7 , :6: ]

df_nse_om'''

ValueError: ignored

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/packaging-films.html")

df_bse_packaging = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_packaging[['Company','others']]= df_bse_packaging['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_packaging['Company Name']=df_bse_packaging['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_packaging = df_bse_packaging.iloc[ ::7 , :6: ]

df_bse_packaging

         Company Name    Open    High     Low  Last Price  Prev Price
0           Bilcare     15.95   15.95   14.60       14.80       15.20
7       Cosmo Films    218.55  223.95  204.70      211.25      212.35
14        Ester Ind     25.85   26.00   24.05       24.75       24.80
21  Jindal PolyFilm    209.00  209.00  182.00      193.50      175.65

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/packaging-packaging-materials.html")

df_nse_pm = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pm[['Company','others']]= df_nse_pm['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pm['Company Name']=df_nse_pm['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pm = df_nse_pm.iloc[ ::7 , :6: ]

df_nse_pm

        Company Name   Open   High    Low  Last Price  Prev Price
0   AMD Industries    10.55  11.35  10.25       10.50        10.5
7     Radha Madhav     2.40   2.60   2.40        2.55         2.5
14    Rollatainers     1.15   1.15   1.00        1.10         1.1

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/packaging-packaging-materials.html")

df_bse_pm = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pm[['Company','others']]= df_bse_pm['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pm['Company Name']=df_bse_pm['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pm = df_bse_pm.iloc[ ::7 , :6: ]

df_bse_pm

        Company Name    Open    High     Low  Last Price  Prev Price
0   AMD Industries     11.00   11.25   10.50       10.50       10.45
7   Hind Tin Works     31.85   31.85   27.05       27.50       29.20
14    Perfect Pack    124.00  124.00  124.00      124.00      130.00
21    Radha Madhav      2.66    2.66    2.66        2.66        2.79
28    Rollatainers      1.15    1.15    1.06        1.10        1.17
35         Shetron     14.75   15.30   14.75       15.30       14.60

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/packaging-polyfilms.html")

df_nse_pp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pp[['Company','others']]= df_nse_pp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pp['Company Name']=df_nse_pp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pp = df_nse_pp.iloc[ ::7 , :6: ]

df_nse_pp

      Company Name    Open   High    Low  Last Price  Prev Price
0  Polyplex Corp    301.05  319.0  298.0       301.6      298.35

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/packaging-polyfilms.html")

df_bse_pp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pp[['Company','others']]= df_bse_pp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pp['Company Name']=df_bse_pp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pp = df_bse_pp.iloc[ ::7 , :6: ]

df_bse_pp

      Company Name    Open    High     Low  Last Price  Prev Price
0  Polyplex Corp    308.00  319.60  299.50      302.80      298.10
7  Raj Packaging     15.45   15.45   15.45       15.45       16.25

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/packaging-sacks-and-bags.html")

df_nse_pgs = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pgs[['Company','others']]= df_nse_pgs['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pgs['Company Name']=df_nse_pgs['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pgs = df_nse_pgs.iloc[ ::7 , :6: ]

df_nse_pgs
#empty Table

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/packaging-sacks-and-bags.html")

df_bse_pgs = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pgs[['Company','others']]= df_bse_pgs['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pgs['Company Name']=df_bse_pgs['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pgs = df_bse_pgs.iloc[ ::7 , :6: ]

df_bse_pgs

       Company Name   Open   High    Low  Last Price  Prev Price
0    Kanpur Plast    47.75  48.50  44.20       46.00       45.20
7    RDB Rasayans    30.95  34.85  30.95       32.65       29.05
14  Rishi Techtex    15.10  16.20  13.60       14.00       14.80

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/packaging-materials-containers-packaging.html")

df_nse_pmc = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pmc[['Company','others']]= df_nse_pmc['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pmc['Company Name']=df_nse_pmc['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pmc = df_nse_pmc.iloc[ ::7 , :6: ]

df_nse_pmc

         Company Name    Open    High     Low  Last Price  Prev Price
0         Emmbi Ind     48.05   52.70   44.00        44.2       47.95
7     Huhtamaki PPL    205.15  207.50  192.00       198.1      198.05
14    Shree Tirupati    22.90   22.90   22.90        22.9       22.40
21  Shri Rama Multi      3.40    3.45    3.40         3.4        3.55
28            Uflex    135.00  142.50  130.15       133.7      132.20

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/packaging-materials-containers-packaging.html")

df_bse_pmc = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pmc[['Company','others']]= df_bse_pmc['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pmc['Company Name']=df_bse_pmc['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pmc = df_bse_pmc.iloc[ ::7 , :6: ]

df_bse_pmc

         Company Name    Open    High     Low  Last Price  Prev Price
0         Emmbi Ind     47.70   51.65   47.20       48.25       52.40
7     Huhtamaki PPL    205.15  205.15  192.10      200.85      198.25
14  Shri Rama Multi      3.55    3.55    3.38        3.38        3.55
21            Uflex    137.05  142.70  130.00      133.55      134.20

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/packaging-materials-plastic-products.html")

df_nse_pmp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pmp[['Company','others']]= df_nse_pmp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pmp['Company Name']=df_nse_pmp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pmp = df_nse_pmp.iloc[ ::7 , :6: ]

df_nse_pmp

      Company Name    Open   High     Low  Last Price  Prev Price
0  Essel Propack    165.90  165.9  152.45       155.9      159.85

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/packaging-materials-plastic-products.html")

df_bse_pmp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pmp[['Company','others']]= df_bse_pmp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pmp['Company Name']=df_bse_pmp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pmp = df_bse_pmp.iloc[ ::7 , :6: ]

df_bse_pmp

         Company Name    Open    High     Low  Last Price  Prev Price
0      Biopac India      2.87    2.87    2.87        2.87        2.87
7          Ecoplast     93.45   93.50   84.80       92.20       89.25
14    Essel Propack    160.65  163.00  154.00      154.90      159.45
21  Jagdamba Polyme    135.00  135.00  127.80      127.80      134.50
28  Pankaj Polymers      7.14    7.14    7.14        7.14        7.51

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/paints.html")

df_nse_paint = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_paint[['Company','others']]= df_nse_paint['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_paint['Company Name']=df_nse_paint['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_paint = df_nse_paint.iloc[ ::7 , :6: ]

df_nse_paint

         Company Name     Open     High      Low  Last Price  Prev Price
0        Akzo Nobel    2090.00  2150.00  1982.25     2115.30     2045.15
7      Asian Paints    1664.80  1665.25  1550.20     1604.15     1616.95
14    Berger Paints     495.00   499.90   465.55      485.60      478.30
21   Kansai Nerolac     350.00   369.65   343.55      357.40      344.75
28  Shalimar Paints      53.95    54.90    49.00       50.35       50.30

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/paints.html")

df_bse_paint = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_paint[['Company','others']]= df_bse_paint['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_paint['Company Name']=df_bse_paint['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_paint = df_bse_paint.iloc[ ::7 , :6: ]

df_bse_paint

         Company Name     Open     High     Low  Last Price  Prev Price
0        Akzo Nobel    2125.00  2150.00  1984.2     2112.95     2061.55
7      Asian Paints    1660.00  1665.75  1550.0     1606.20     1629.70
14    Berger Paints     491.00   499.95   460.0      481.10      478.20
21   Kansai Nerolac     352.60   371.10   345.0      358.55      349.95
28  Shalimar Paints      52.00    54.15    49.9       50.95       50.35

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/paper-forest-products.html")

df_nse_pfp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pfp[['Company','others']]= df_nse_pfp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pfp['Company Name']=df_nse_pfp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pfp = df_nse_pfp.iloc[ ::7 , :6: ]

df_nse_pfp

          Company Name    Open    High     Low  Last Price  Prev Price
0       Andhra Paper    137.35  137.35  128.00      136.90      130.85
7      Astron Paper &    32.65   32.65   27.10       28.95       29.80
14         Balkrishna     8.95    8.95    8.55        8.55        8.95
21     Ballarpur Ind      0.35    0.35    0.30        0.30        0.30
28       Emami Paper     53.90   54.95   49.75       50.50       52.35
35       Genus Paper      3.40    3.50    3.20        3.30        3.20
42          JK Paper     79.90   82.40   74.10       74.75       77.45
49   Magnum Ventures      3.20    3.20    3.20        3.20        3.20
56        Malu Paper     22.85   24.40   20.55       21.70       22.25
63        NR Agarwal    145.00  147.00  137.00      139.50      139.40
70      Orient Press     65.85   72.75   65.85       67.60       69.30
77      Pudumjee Ind      3.75    3.75    3.75        3.75        3.60
84     Pudumjee Paper    11.40   11.40   10.60       11.30       10.90
91    Ruchira Papers     36.70   36.75   31.55       32.75       33.45
98      Rushil Decor     70.00   72.45   67.80       70.70       69.00
105  Seshasayee Pape    109.50  109.50  100.75      102.95      104.40
112  Shree Rama News     11.65   11.90   10.20       11.15       11.50
119     Shreyans Ind     65.80   68.00   60.85       62.20       63.75
126       Star Paper     77.40   77.45   66.20       69.40       71.40
133   Sundaram Multi      1.15    1.15    1.05        1.10        1.10
140  Tamil Newsprint     93.25   99.70   89.60       90.20       92.50
147       Uniply Ind      4.20    4.20    4.00        4.20        4.00
154   West Coast Pap    119.90  126.00  116.00      122.95      116.05

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/paper-forest-products.html")

df_bse_pfp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pfp[['Company','others']]= df_bse_pfp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pfp['Company Name']=df_bse_pfp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pfp = df_bse_pfp.iloc[ ::7 , :6: ]

df_bse_pfp

          Company Name    Open    High     Low  Last Price  Prev Price
0       Andhra Paper    136.00  137.80  135.00      137.35      131.25
7      Astron Paper &    30.60   30.60   28.20       28.80       30.65
14     Ballarpur Ind      0.33    0.34    0.33        0.33        0.34
21       Emami Paper     54.90   54.90   50.45       50.50       53.10
28       Genus Paper      3.45    3.45    3.23        3.40        3.20
35          JK Paper     80.00   82.45   74.25       74.75       77.20
42    Kuantum Papers    300.00  300.00  250.10      267.95      295.00
49            Kushal      1.91    1.91    1.91        1.91        1.94
56        Malu Paper     24.00   24.00   21.05       21.70       22.00
63       Metroglobal     33.75   37.35   32.00       33.30       31.35
70   Nath Industries     72.60   73.00   69.15       71.75       72.75
77        NR Agarwal    144.00  146.25  137.70      137.75      138.35
84      Pudumjee Ind      3.01    3.01    3.01        3.01        3.00
91   Rama Paper Mill      8.80    8.80    7.99        8.74        8.41
98    Ruchira Papers     36.15   36.70   31.00       32.90       33.45
105     Rushil Decor     71.00   71.00   65.90       70.35       68.75
112    Sangal Papers     48.90   48.90   45.10       48.90       46.60
119        Satia Ind     70.00   71.40   64.00       64.40       64.50
126  Seshasayee Pape    107.30  109.20   96.65      100.10      106.00
133  Shree Rama News     10.50   11.50    9.75       11.10       11.50
140     Shreyans Ind     63.10   66.15   60.25       62.05       65.40
147       Star Paper     74.90   78.80   67.65       69.50       71.65
154   Sundaram Multi      1.14    1.14    1.10        1.11        1.09
161  Tamil Newsprint     96.05   98.55   89.60       90.20       92.70
168       Uniply Ind      4.25    4.25    4.11        4.24        4.05
175   West Coast Pap    119.60  127.90  115.10      124.35      116.60
182   YASH PAKKA LTD     20.95   21.65   20.30       20.95       19.70

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/paper-paper-products.html")

df_bse_ppp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_ppp[['Company','others']]= df_bse_ppp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_ppp['Company Name']=df_bse_ppp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_ppp = df_bse_ppp.iloc[ ::7 , :6: ]

df_bse_ppp
#Empty

ValueError: ignored

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/paper-paper-products.html")

df_bse_ppp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_ppp[['Company','others']]= df_bse_ppp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_ppp['Company Name']=df_bse_ppp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_ppp = df_bse_ppp.iloc[ ::7 , :6: ]

df_bse_ppp
#Empty

ValueError: ignored

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/pesticides-agrochemicals.html")

df_nse_pa = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pa[['Company','others']]= df_nse_pa['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pa['Company Name']=df_nse_pa['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pa = df_nse_pa.iloc[ ::7 , :6: ]

df_nse_pa

          Company Name     Open     High      Low  Last Price  Prev Price
0         Astec Life     380.00   384.00   361.60      375.00      370.05
7               BASF    1180.00  1180.00  1076.00     1099.30     1130.70
14   Bayer CropScien    3251.00  3309.60  3051.00     3217.30     3244.75
21    Bharat Rasayan    5300.00  5540.00  5220.00     5305.35     5262.05
28   Dhanuka Agritec     333.95   354.00   323.25      324.55      324.30
35             Excel     493.00   529.35   458.00      470.50      453.50
42     Fine Organics    2048.00  2074.95  1927.00     1954.50     1910.20
49      Insecticides     279.00   293.75   271.00      293.50      267.05
56      Jubilant Ind      88.25    88.25    84.35       86.55       84.05
63   Meghmani Organi      38.60    39.90    36.35       37.55       37.35
70   Nacl Industries      20.45    20.50    19.70       20.05       19.55
77     PI Industries    1199.00  1199.00  1070.75     1081.90     1133.55
84   Punjab Chemical     310.95   321.00   294.00      313.85      293.90
91      Rallis India     167.95   178.00   160.30      169.75      168.70
98       Sharda Crop     113.00   120.90   103.25      107.85      110.70
105              UPL     327.60   336.00   315.30      322.20      312.55

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/pesticides-agrochemicals.html")

df_bse_pa = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pa[['Company','others']]= df_bse_pa['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pa['Company Name']=df_bse_pa['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pa = df_bse_pa.iloc[ ::7 , :6: ]

df_bse_pa

          Company Name     Open     High      Low  Last Price  Prev Price
0    Aimco Pesticide      46.40    46.40    42.25       45.50       42.20
7         Astec Life     375.00   377.00   364.05      370.35      361.05
14              BASF    1155.00  1155.55  1080.20     1097.65     1132.10
21   Bayer CropScien    3256.00  3283.50  3058.00     3120.90     3223.10
28    Bhagiradh Chem     235.20   284.00   235.20      247.60      243.85
35    Bharat Rasayan    5432.95  5520.00  5200.00     5268.10     5281.55
42   Dhanuka Agritec     345.60   345.60   321.05      325.15      322.40
49             Excel     470.00   512.30   450.05      465.30      442.60
56     Fine Organics    2014.25  2045.65  1946.45     1952.45     1910.90
63      Insecticides     266.90   293.55   266.90      292.40      266.90
70      Jubilant Ind      81.90    81.90    81.90       81.90       78.00
77       Kilpest (I)      73.95    73.95    60.10       66.95       66.95
84   Meghmani Organi      40.50    40.50    36.40       37.60       37.40
91   Nacl Industries      20.00    20.40    19.90       19.90       19.70
98        Ocean Agro      14.50    15.90    14.50       15.90       15.15
105       Phyto Chem      17.95    17.95    17.95       17.95       17.95
112    PI Industries    1151.05  1176.05  1069.20     1079.30     1137.40
119  Punjab Chemical     276.05   320.00   276.00      315.00      295.00
126     Rallis India     176.00   178.00   164.75      168.45      168.15
133      Sharda Crop     116.55   121.20   103.05      112.95      110.20
140    Shivalik Rasa     213.00   213.15   203.00      212.25      203.00
147  Super Crop Safe       9.50     9.60     8.50        8.55        9.03
154              UPL     319.00   336.00   315.45      322.15      313.35

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/pharmaceuticals-drugs.html")

df_nse_pd = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pd[['Company','others']]= df_nse_pd['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pd['Company Name']=df_nse_pd['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pd = df_nse_pd.iloc[ ::7 , :6: ]

df_nse_pd

          Company Name      Open      High       Low  Last Price  Prev Price
0        Aarti Drugs      506.00    514.90    485.00      499.65      487.30
7       Abbott India    14599.00  14792.00  13895.00    14146.10    14392.55
14   Advanced Enzyme      106.05    119.00    106.05      116.30      105.25
21     Ajanta Pharma     1199.00   1255.00   1190.05     1238.55     1176.55
28      Albert David      332.95    339.45    312.00      318.55      316.30
..                 ...       ...       ...       ...         ...         ...
518     Unichem Labs      121.50    128.85    118.15      128.85      107.40
525   Venus Remedies       23.80     23.90     22.15       22.50       23.00
532     Vivimed Labs        7.30      7.50      7.10        7.45        7.30
539          Wanbury       16.50     17.30     16.50       16.70       16.50
546        Wockhardt      178.00    186.95    170.00      172.25      174.65

[79 rows x 6 columns]

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/pharmaceuticals-drugs.html")

df_bse_pd = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pd[['Company','others']]= df_bse_pd['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pd['Company Name']=df_bse_pd['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pd = df_bse_pd.iloc[ ::7 , :6: ]

df_bse_pd

          Company Name      Open      High       Low  Last Price  Prev Price
0        Aarey Drugs       12.60     14.90     12.60       13.25       14.00
7        Aarti Drugs      510.00    513.00    486.00      496.25      489.00
14        Aayush Food      14.50     14.50     14.20       14.20       14.50
21      Abbott India    14741.20  14768.10  13860.00    14132.35    14426.15
28   Advanced Enzyme      111.30    118.95    108.00      115.60      105.50
..                 ...       ...       ...       ...         ...         ...
917           Wintac      185.25    185.25    167.65      169.80      176.45
924        Wockhardt      177.85    186.70    170.00      172.45      175.30
931    Zenith Health        0.87      0.87      0.80        0.81        0.83
938    Zenotech Labs       14.45     14.45     14.45       14.45       13.80
945  ZIM Laboratorie       57.80     57.80     50.15       51.10       51.25

[136 rows x 6 columns]

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/photographic-products.html")

df_nse_pp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pp[['Company','others']]= df_nse_pp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pp['Company Name']=df_nse_pp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pp = df_nse_pp.iloc[ ::7 , :6: ]

df_nse_pp

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/photographic-products.html")

df_bse_pp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pp[['Company','others']]= df_bse_pp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pp['Company Name']=df_bse_pp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pp = df_bse_pp.iloc[ ::7 , :6: ]

df_bse_pp

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastic-products.html")

df_nse_plastic = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_plastic[['Company','others']]= df_nse_plastic['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_plastic['Company Name']=df_nse_plastic['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_plastic = df_nse_plastic.iloc[ ::7 , :6: ]

df_nse_plastic

         Company Name   Open   High    Low  Last Price  Prev Price
0   Nahar Poly Film    26.55  27.55  25.10       26.95        26.6
7               PPL    22.90  23.40  22.00       23.05        22.3
14  Sintex Plastics     0.65   0.65   0.55        0.60         0.6

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastic-products.html")

df_bse_plastic = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_plastic[['Company','others']]= df_bse_plastic['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_plastic['Company Name']=df_bse_plastic['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_plastic = df_bse_plastic.iloc[ ::7 , :6: ]

df_bse_plastic

         Company Name   Open   High    Low  Last Price  Prev Price
0   Nahar Poly Film    26.55  27.55  25.10       26.95        26.6
7               PPL    22.90  23.40  22.00       23.05        22.3
14  Sintex Plastics     0.65   0.65   0.55        0.60         0.6

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastic-products-others.html")

df_nse_ppo = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_ppo[['Company','others']]= df_nse_ppo['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_ppo['Company Name']=df_nse_ppo['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_ppo = df_nse_ppo.iloc[ ::7 , :6: ]

df_nse_ppo

         Company Name    Open    High     Low  Last Price  Prev Price
0   Arrow Greentech     32.50   34.00   31.55       33.30       32.85
7    Kingfa Science    399.00  409.80  350.00      368.65      387.05
14  Premier Polyfil     17.70   18.50   17.30       17.55       17.70
21    Tainwala Chem     41.00   41.00   38.00       38.00       38.05
28      Tokyo Plast     59.05   61.75   59.00       59.95       58.95

In [0]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastics-moulded-articles-and-furnitures.html")

df_nse_pma = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pma[['Company','others']]= df_nse_pma['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pma['Company Name']=df_nse_pma['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pma = df_nse_pma.iloc[ ::7 , :6: ]

df_nse_pma

       Company Name     Open     High     Low  Last Price  Prev Price
0   Mold-Tek Pack     191.00   191.05  171.15      177.15      175.30
7        Nilkamal    1069.00  1069.00  955.00      985.75     1017.95
14    Pil Italica       3.05     3.70    3.05        3.45        3.25
21    Supreme Ind     969.70   969.70  851.35      880.35      900.65
28    Time Techno      25.80    26.80   25.00       25.80       24.60

In [33]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/plastics-moulded-articles-and-furnitures.html")

df_bse_pma = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pma[['Company','others']]= df_bse_pma['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pma['Company Name']=df_bse_pma['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pma = df_bse_pma.iloc[ ::7 , :6: ]

df_bse_pma

         Company Name     Open     High     Low  Last Price  Prev Price
0     Acrysil India      59.50    59.50   54.35       55.05       57.20
7     Mold-Tek Pack     191.00   199.90  168.00      177.90      175.30
14     MPL Plastics       2.90     3.04    2.76        2.90        2.90
21  National Plasti      18.35    22.00   17.00       17.90       18.70
28    National Tech      33.05    33.05   33.05       33.05       31.50
35         Nilkamal    1048.30  1053.00  962.20      991.15     1002.95
42          OK Play      20.20    20.20   19.80       19.80       20.20
49      Pil Italica       3.41     3.46    3.41        3.46        3.10
56   Prima Plastics      28.00    35.55   23.80       25.70       29.75
63      Supreme Ind     982.00   982.00  851.85      884.15      900.20
70      Time Techno      26.00    27.00   25.25       25.65       24.70

In [34]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastics-pet-bottels,-jars-containers.html")

df_nse_ppb = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_ppb[['Company','others']]= df_nse_ppb['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_ppb['Company Name']=df_nse_ppb['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_ppb = df_nse_ppb.iloc[ ::7 , :6: ]

df_nse_ppb

        Company Name   Open   High    Low  Last Price  Prev Price
0      Hitech Corp    50.55  53.00  45.75       46.90       49.90
7   Pearl Polymers    13.65  13.65  13.00       13.00       13.00
14    TPL Plastech    69.95  69.95  62.10       63.95       64.95

In [35]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/plastics-pet-bottels,-jars-containers.html")

df_bse_ppb = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_ppb[['Company','others']]= df_bmse_ppb['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_ppb['Company Name']=df_bse_ppb['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_ppb = df_bse_ppb.iloc[ ::7 , :6: ]

df_bse_ppb

         Company Name    Open    High     Low  Last Price  Prev Price
0       Hitech Corp     52.00   62.70   47.00       48.70        54.9
7   Innovative Tech      8.48    8.48    8.15        8.15         8.1
14      Kemp and Co    475.00  475.00  475.00      475.00       500.0
21   Pearl Polymers     13.00   13.00   13.00       13.00        12.5
28     TPL Plastech     62.05   66.60   62.00       66.55        69.9

In [36]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastics-self-adhesive-tapes.html")

df_nse_psa = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_psa[['Company','others']]= df_nse_psa['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_psa['Company Name']=df_nse_psa['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_psa = df_nse_psa.iloc[ ::7 , :6: ]

df_nse_psa

ValueError: ignored

In [37]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/plastics-self-adhesive-tapes.html")

df_bse_psa = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_psa[['Company','others']]= df_bse_psa['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_psa['Company Name']=df_bse_psa['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_psa = df_bse_psa.iloc[ ::7 , :6: ]

df_bse_psa

       Company Name   Open   High   Low  Last Price  Prev Price
0  Hind Adhesives    63.10  71.45  63.1       68.75        70.0

In [38]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastics-thermoplastics.html")

df_nse_pt = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pt[['Company','others']]= df_nse_pt['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pt['Company Name']=df_nse_pt['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pt = df_nse_pt.iloc[ ::7 , :6: ]

df_nse_pt

   Company Name   Open   High    Low  Last Price  Prev Price
0  Sintex Ind     0.60   0.65   0.60        0.65        0.60
7  Xpro India    14.35  15.20  14.35       14.65       14.75

In [39]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/plastics-thermoplastics.html")

df_bse_pt = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pt[['Company','others']]= df_bse_pt['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pt['Company Name']=df_bse_pt['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pt = df_bse_pt.iloc[ ::7 , :6: ]

df_bse_pt

   Company Name   Open   High    Low  Last Price  Prev Price
0  Sintex Ind     0.61   0.61   0.61        0.61        0.59
7  Xpro India    14.15  16.65  14.15       15.00       14.80

In [40]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/plastics-tubespipeshoses-fittings.html")

df_nse_ptube = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_ptube[['Company','others']]= df_nse_ptube['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_ptube['Company Name']=df_nse_ptube['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_ptube = df_nse_ptube.iloc[ ::7 , :6: ]

df_nse_ptube

         Company Name    Open     High     Low  Last Price  Prev Price
0   Astral Poly Tec    999.00  1010.75  897.00      908.50      953.40
7       Finolex Ind    372.00   380.25  355.00      377.20      345.70
14  Jain Irrigation      3.15     3.30    3.10        3.30        3.15
21             JISL      3.40     3.40    3.10        3.35        3.25
28     Prince Pipes    101.00   103.00   94.00       99.10       99.95
35        Sanco Ind      7.45     8.40    6.60        7.55        7.35
42      Texmo Pipes      7.95     8.25    7.50        7.55        7.55
49  Tijaria Polypip      3.65     3.95    3.65        3.75        3.80

In [41]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/plastics-tubespipeshoses-fittings.html")

df_bse_ptube = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_ptube[['Company','others']]= df_bse_ptube['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_ptube['Company Name']=df_bse_ptube['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_ptube = df_bse_ptube.iloc[ ::7 , :6: ]

df_bse_ptube

         Company Name    Open     High     Low  Last Price  Prev Price
0   Ashish Polyplas      3.50     3.50    3.50        3.50        3.50
7   Astral Poly Tec    980.00  1009.25  898.00      908.50      948.50
14      Finolex Ind    383.95   386.00  360.35      377.60      350.95
21  Jain Irrigation      3.15     3.29    3.11        3.29        3.14
28             JISL      3.36     3.36    3.15        3.36        3.20
35  Kisan Mouldings      7.72     8.47    7.68        7.68        8.08
42        Kriti Ind     13.00    13.00   10.50       11.15       12.10
49  Kunststoffe Ind      4.37     4.37    4.37        4.37        4.60
56     Prince Pipes    102.00   103.30   95.00       99.00       98.90
63      Texmo Pipes      8.24     8.25    7.50        7.77        7.51

In [42]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/ports.html")

df_nse_port = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_port[['Company','others']]= df_nse_port['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_port['Company Name']=df_nse_port['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_port = df_nse_port.iloc[ ::7 , :6: ]

df_nse_port

        Company Name    Open   High     Low  Last Price  Prev Price
0    Dredging Corp    143.05  152.0  140.10      142.60       138.8
7  Gujarat Pipavav     51.00   55.0   50.85       53.15        50.1

In [43]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/ports.html")

df_bse_port = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_port[['Company','others']]= df_bse_port['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_port['Company Name']=df_bse_port['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_port = df_bse_port.iloc[ ::7 , :6: ]

df_bse_port

        Company Name    Open    High    Low  Last Price  Prev Price
0    Dredging Corp    145.00  151.85  140.0      142.80      138.30
7  Gujarat Pipavav     51.50   54.95   51.5       53.25       50.45

In [44]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/power-generationdistribution.html")

df_nse_pd = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pd[['Company','others']]= df_nse_pd['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pd['Company Name']=df_nse_pd['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pd = df_nse_pd.iloc[ ::7 , :6: ]

df_nse_pd

          Company Name    Open    High     Low  Last Price  Prev Price
0        Adani Power     31.25   32.40   27.20       27.60       30.10
7        Adani Trans    195.00  202.05  186.05      186.65      195.80
14      BF Utilities    139.25  143.85  139.25      142.25      137.80
21              CESC    396.00  418.30  383.00      389.40      393.40
28              DPSC      5.90    6.15    5.70        5.85        5.90
35        Energy Dev      4.50    4.60    4.15        4.40        4.20
42     Guj Ind Power     48.45   51.75   47.80       50.30       48.45
49         GVK Power      2.45    2.50    2.25        2.30        2.35
56               IEX    127.00  134.20  123.15      130.85      122.05
63     IndiGrid InvIT    90.00   92.35   89.80       90.25       89.56
70   Indowind Energy      1.85    1.90    1.80        1.85        1.85
77    Jaiprakash Pow      0.50    0.50    0.50        0.50        0.45
84        JSW Energy     47.00   47.20   41.10       44.40       46.00
91      Karma Energy     10.80   10.80    9.80       10.65       10.30
98   KSK Energy Vent      0.30    0.35    0.30        0.30        0.30
105  Nava Bharat Ven     36.10   38.80   34.80       34.90       35.30
112             NHPC     18.80   19.50   18.70       19.40       18.20
119        NLC India     40.65   42.50   40.50       42.00       39.65
126             NTPC     82.50   84.40   80.25       83.00       79.65
133     Orient Green      1.40    1.40    1.30        1.40        1.35
140  Power Grid Corp    158.60  166.25  156.65      160.00      158.35
147        PTC India     36.50   37.35   35.25       35.90       35.45
154     Rattan Infra      2.25    2.25    2.25        2.25        2.35
161     Rattan Power      1.35    1.35    1.35        1.35        1.40
168   Reliance Infra      9.60    9.70    8.90        9.30        9.35
175   Reliance Power      1.15    1.15    1.05        1.15        1.10
182        S E Power      1.35    1.75    1.35        1.60        1.60
189             SJVN     19.80   20.90   19.45       20.40       18.65
196  Sterling & Wils     77.20   77.20   77.20       77.20       81.25
203       Tata Power     35.85   36.85   33.25       33.95       35.20
210    Torrent Power    298.80  298.80  265.00      271.85      286.80
217      Urja Global      1.00    1.00    0.90        0.95        0.95

In [45]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/power-generationdistribution.html")

df_bse_pd = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pd[['Company','others']]= df_bse_pd['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pd['Company Name']=df_bse_pd['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pd = df_bse_pd.iloc[ ::7 , :6: ]

df_bse_pd

          Company Name    Open    High     Low  Last Price  Prev Price
0        Adani Power     31.00   32.40   27.25       27.60       30.10
7        Adani Trans    200.00  200.00  185.00      186.80      194.10
14      BF Utilities    142.00  144.00  140.00      142.50      139.45
21              CESC    405.00  418.00  384.00      389.95      391.35
28        Energy Dev      4.69    4.69    4.00        4.54        4.27
35     Guj Ind Power     49.95   51.00   46.50       49.95       48.10
42         GVK Power      2.46    2.50    2.29        2.34        2.32
49               IEX    125.80  135.00  125.50      131.25      121.80
56   Indowind Energy      1.73    1.73    1.73        1.73        1.72
63    Jaiprakash Pow      0.60    0.60    0.57        0.60        0.58
70        JSW Energy     47.00   47.35   41.70       44.45       46.00
77   KSK Energy Vent      0.30    0.31    0.30        0.31        0.30
84   Nava Bharat Ven     36.50   38.65   34.75       34.80       35.15
91              NHPC     19.00   19.45   18.80       19.40       18.30
98         NLC India     41.10   42.40   40.70       41.90       39.50
105             NTPC     82.05   84.45   80.30       83.05       80.50
112     Orient Green      1.31    1.37    1.27        1.37        1.31
119  Power Grid Corp    159.00  166.35  156.60      160.05      158.65
126        PTC India     36.30   37.30   35.25       35.95       35.55
133     Rattan Infra      2.21    2.21    2.21        2.21        2.32
140     Rattan Power      1.30    1.35    1.23        1.23        1.29
147  Ravindra Tradin     27.00   27.00   27.00       27.00       24.70
154   Reliance Infra      9.50    9.75    9.00        9.20        9.35
161   Reliance Power      1.13    1.14    1.08        1.13        1.09
168        S E Power      1.50    1.80    1.26        1.79        1.51
175             SJVN     19.90   20.90   19.40       20.35       18.75
182  Sterling & Wils     79.00   79.00   77.25       77.25       81.30
189  Suryachakra Pow      0.49    0.49    0.49        0.49        0.49
196       Tata Power     35.95   36.90   33.25       33.95       35.25
203    Torrent Power    293.35  293.35  265.00      271.85      288.15
210      Urja Global      1.00    1.00    0.93        0.97        0.97
217      Veer Energy      5.60    6.10    5.60        6.04        5.97
224  Welcon Internat      6.79    6.79    6.75        6.79        6.47

In [46]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/printing-publishing.html")

df_nse_publish = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_publish[['Company','others']]= df_nse_publish['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_publish['Company Name']=df_nse_publish['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_publish = df_nse_publish.iloc[ ::7 , :6: ]

df_nse_publish

         Company Name     Open     High      Low  Last Price  Prev Price
0           DB Corp      82.80    82.80    75.05       78.55       75.90
7   Hindustan Media      41.40    42.90    38.60       39.50       39.40
14         HT Media      10.25    10.90     9.15        9.95        9.45
21  Indiamart Inter    1970.00  1984.00  1811.00     1846.85     1856.90
28  Infomedia Press       2.75     2.75     2.75        2.75        2.85
35  JagranPrakashan      42.90    45.95    41.80       45.10       42.35
42              MPS     229.45   235.00   210.40      217.95      217.50
49          Navneet      52.50    60.05    50.25       58.90       50.05
56  Next Mediaworks       3.60     3.60     3.50        3.50        3.60
63      Repro India     324.95   364.40   300.00      320.65      309.15
70   S Chand and Co      37.50    39.30    35.60       35.65       37.45
77   Sambhaav Media       1.50     1.50     1.30        1.30        1.40
84          Sandesh     518.30   518.30   456.20      472.85      466.95

In [47]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/printing-publishing.html")

df_bse_publish = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_publish[['Company','others']]= df_bse_publish['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_publish['Company Name']=df_bse_publish['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_publish = df_bse_publish.iloc[ ::7 , :6: ]

df_bse_publish

         Company Name     Open     High      Low  Last Price  Prev Price
0           DB Corp      78.90    79.90    75.90       78.45       76.00
7     Diligent Media      0.33     0.34     0.33        0.34        0.34
14  Hindustan Media      42.70    42.70    38.85       38.95       37.35
21         HT Media       9.85    10.40     9.60       10.16        9.50
28  Indiamart Inter    2112.00  2112.00  1821.00     1844.75     1855.05
35  Infomedia Press       1.43     1.43     1.43        1.43        1.50
42  JagranPrakashan      43.80    45.50    40.05       45.25       41.95
49              MPS     222.00   239.80   212.00      222.00      218.05
56          Navneet      52.00    59.80    51.85       59.05       49.85
63      Repro India     316.00   355.00   305.00      318.65      309.70
70   S Chand and Co      39.35    39.35    35.65       35.70       37.50
77          Sandesh     461.00   469.40   445.00      469.20      435.00

In [48]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/printing-stationery.html")

df_nse_stationart = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_stationart[['Company','others']]= df_nse_stationart['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_stationart['Company Name']=df_nse_stationart['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_stationart = df_nse_stationart.iloc[ ::7 , :6: ]

df_nse_stationart

        Company Name    Open    High    Low  Last Price  Prev Price
0    Kokuyo Camlin     43.40   46.75   42.0       42.95       43.40
7  Linc PenandPlas    127.00  139.75  127.0      133.35      127.05

In [49]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/printing-stationery.html")

df_bse_stationart = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_stationart[['Company','others']]= df_bse_stationart['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_stationart['Company Name']=df_bse_stationart['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_stationart = df_bse_stationart.iloc[ ::7 , :6: ]

df_bse_stationart

         Company Name    Open    High    Low  Last Price  Prev Price
0   Gala Global Prd     38.35   44.35   37.6        43.6       40.35
7     Kokuyo Camlin     45.70   45.70   42.5        43.2       44.85
14  Linc PenandPlas    126.70  126.70  126.7       126.7      115.20

In [50]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/printing-and-publishing.html")

df_nse_pap = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_pap[['Company','others']]= df_nse_pap['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_pap['Company Name']=df_nse_pap['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_pap = df_nse_pap.iloc[ ::7 , :6: ]

df_nse_pap
#Empty

ValueError: ignored

In [51]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/printing-and-publishing.html")

df_bse_pap = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_pap[['Company','others']]= df_bse_pap['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_pap['Company Name']=df_bse_pap['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_pap = df_bse_pap.iloc[ ::7 , :6: ]

df_bse_pap
#Empty

ValueError: ignored

In [52]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/railways-wagons.html")

df_nse_rail = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_rail[['Company','others']]= df_nse_rail['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_rail['Company Name']=df_nse_rail['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_rail = df_nse_rail.iloc[ ::7 , :6: ]

df_nse_rail

         Company Name   Open   High    Low  Last Price  Prev Price
0            Cimmco    10.10  10.65  10.10       10.25       10.15
7      Texmaco Rail    22.85  22.85  18.45       19.35       20.45
14  Titagarh Wagons    26.60  26.70  25.00       25.20       24.75

In [53]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/railways-wagons.html")

df_bse_rail = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_rail[['Company','others']]= df_bse_rail['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_rail['Company Name']=df_bse_rail['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_rail = df_bse_rail.iloc[ ::7 , :6: ]

df_bse_rail

         Company Name   Open   High    Low  Last Price  Prev Price
0            Cimmco    10.15  10.70   9.90        9.90       10.15
7      Texmaco Rail    21.85  21.85  18.45       19.00       20.15
14  Titagarh Wagons    24.50  26.95  24.50       25.15       24.80

In [54]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/ratings.html")

df_nse_rating = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_rating[['Company','others']]= df_nse_rating['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_rating['Company Name']=df_nse_rating['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_rating = df_nse_rating.iloc[ ::7 , :6: ]

df_nse_rating

      Company Name     Open     High     Low  Last Price  Prev Price
0   CARE Ratings     289.00   319.90   276.0      305.00       275.7
7         CRISIL    1451.65  1477.00  1250.0     1274.35      1399.6
14          ICRA    2198.00  2339.95  2050.0     2102.35      2178.3

In [57]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/ratings.html")

df_bse_rating = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_rating[['Company','others']]= df_bse_rating['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_rating['Company Name']=df_bse_rating['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_rating = df_bse_rating.iloc[ ::7 , :6: ]

df_bse_rating

      Company Name     Open    High      Low  Last Price  Prev Price
0   CARE Ratings     319.00   320.0   270.00       304.5      275.70
7         CRISIL    1498.00  1498.0  1259.20      1279.5     1401.65
14          ICRA    2102.75  2250.0  2096.05      2110.0     2180.00

In [59]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/real-estate-operations.html")

df_nse_reo = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_reo[['Company','others']]= df_nse_reo['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_reo['Company Name']=df_nse_reo['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_reo = df_nse_reo.iloc[ ::7 , :6: ]

df_nse_reo
#empty

ValueError: ignored

In [58]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/real-estate-operations.html")

df_bse_reo = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_reo[['Company','others']]= df_bse_reo['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_reo['Company Name']=df_bse_reo['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_reo = df_bse_reo.iloc[ ::7 , :6: ]

df_bse_reo
#Empty

ValueError: ignored

In [63]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/real-estate-rental,-development-operations.html")

df_nse_rdo = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_rdo[['Company','others']]= df_nse_rdo['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_rdo['Company Name']=df_nse_rdo['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_rdo = df_nse_rdo.iloc[ ::7 , :6: ]

df_nse_rdo
#empty

ValueError: ignored

In [62]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/real-estate-rental,-development-operations.html")

df_bse_rdo = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_rdo[['Company','others']]= df_bse_rdo['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_rdo['Company Name']=df_bse_rdo['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_rdo = df_bse_rdo.iloc[ ::7 , :6: ]

df_bse_rdo

        Company Name   Open   High    Low  Last Price  Prev Price
0  S V Global Mill    33.95  33.95  33.25       33.25       32.35

In [64]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/refineries.html")

df_nse_refinieries = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_refinieries[['Company','others']]= df_nse_refinieries['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_refinieries['Company Name']=df_nse_refinieries['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_refinieries = df_nse_refinieries.iloc[ ::7 , :6: ]

df_nse_refinieries

       Company Name    Open    High     Low  Last Price  Prev Price
0            BPCL    290.00  304.00  274.20      278.75      282.30
7   Chennai Petro     57.55   62.75   56.30       56.85       57.05
14           HPCL    179.15  183.50  167.55      170.25      177.30
21            IOC     78.50   80.15   76.05       76.90       78.00
28           MRPL     24.10   24.90   23.00       23.40       23.25

In [65]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/refineries.html")

df_bse_refinieries = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_refinieries[['Company','others']]= df_bse_refinieries['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_refinieries['Company Name']=df_bse_refinieries['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_refinieries = df_bse_refinieries.iloc[ ::7 , :6: ]

df_bse_refinieries

       Company Name    Open    High    Low  Last Price  Prev Price
0            BPCL    290.00  303.95  274.6      278.90      282.40
7   Chennai Petro     58.35   62.80   56.6       56.85       57.10
14           HPCL    178.25  183.60  167.7      169.80      177.35
21            IOC     78.00   80.20   76.1       76.95       78.05
28           MRPL     23.75   24.85   23.0       23.50       23.75

In [66]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/refractories.html")

df_nse_refactories = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_refactories[['Company','others']]= df_nse_refactories['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_refactories['Company Name']=df_nse_refactories['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_refactories = df_nse_refactories.iloc[ ::7 , :6: ]

df_nse_refactories

         Company Name    Open   High     Low  Last Price  Prev Price
0   IFGL Refractory     83.90   84.9   80.05       84.70       77.20
7   Orient Abrasive     11.25   11.6   10.40       10.60       11.25
14   Orient Refract    122.00  133.5  120.40      123.05      121.85
21   Vesuvius India    888.95  900.0  845.00      855.35      857.55

In [67]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/refractories.html")

df_bse_refactories = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_refactories[['Company','others']]= df_bse_refactories['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_refactories['Company Name']=df_bse_refactories['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_refactories = df_bse_refactories.iloc[ ::7 , :6: ]

df_bse_refactories

         Company Name     Open     High      Low  Last Price  Prev Price
0   IFGL Refractory      80.05    80.05    80.05       80.05       73.10
7   Morganite India    1600.00  1675.00  1353.00     1482.30     1450.00
14  Orient Abrasive      11.30    11.60    10.25       10.50       11.25
21   Orient Refract     131.80   132.00   121.15      122.85      120.00
28   Vesuvius India     882.15   882.15   848.05      852.00      847.20

In [68]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/reinsurance.html")

df_nse_reinsurance = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_reinsurance[['Company','others']]= df_nse_reinsurance['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_reinsurance['Company Name']=df_nse_reinsurance['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_reinsurance = df_nse_reinsurance.iloc[ ::7 , :6: ]

df_nse_reinsurance

        Company Name   Open   High   Low  Last Price  Prev Price
0  General Insuran    97.00  99.05  97.0       99.05       94.35

In [69]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/reinsurance.html")

df_bse_reinsurance = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_reinsurance[['Company','others']]= df_bse_reinsurance['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_reinsurance['Company Name']=df_bse_reinsurance['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_reinsurance = df_bse_reinsurance.iloc[ ::7 , :6: ]

df_bse_reinsurance

        Company Name   Open  High   Low  Last Price  Prev Price
0  General Insuran    98.80  99.3  98.2        99.3        94.6

In [70]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/renewables.html")

df_nse_renew = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_renew[['Company','others']]= df_nse_renew['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_renew['Company Name']=df_nse_renew['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_renew = df_nse_renew.iloc[ ::7 , :6: ]

df_nse_renew

        Company Name    Open   High    Low  Last Price  Prev Price
0  Adani Green Ene    154.50  157.0  144.5      148.75      152.10
7    Zodiac Energy     13.00   13.0   12.4       12.40       12.95

In [71]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/renewables.html")

df_bse_renew = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_renew[['Company','others']]= df_bse_renew['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_renew['Company Name']=df_bse_renew['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_renew = df_bse_renew.iloc[ ::7 , :6: ]

df_bse_renew

        Company Name    Open   High    Low  Last Price  Prev Price
0  Adani Green Ene    158.00  158.0  144.6       148.7       152.1

In [73]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/retailing.html")

df_nse_retail = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_retail[['Company','others']]= df_nse_retail['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_retail['Company Name']=df_nse_retail['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_retail = df_nse_retail.iloc[ ::7 , :6: ]

df_nse_retail

         Company Name     Open     High      Low  Last Price  Prev Price
0    Aditya Birla F     171.10   175.15   160.30      167.10      169.75
7               AFL     160.00   160.00   140.40      149.35      147.30
14  Avenue Supermar    2087.75  2093.75  2051.00     2079.70     1994.05
21              FEL      10.10    10.15     9.35       10.00        9.70
28       Future Ent       9.00     9.15     8.65        9.00        8.75
35    Future Market       9.40     9.45     8.90        9.00        9.00
42    Future Retail      86.70    86.70    86.70       86.70       91.25
49  Mandhana Retail       5.50     5.75     5.25        5.45        5.50
56    Shoppers Stop     208.00   218.70   207.00      208.80      206.05
63              SRL      72.90    77.00    68.00       69.20       72.00
70            Trent     513.95   530.00   471.65      483.30      495.75
77    V-Mart Retail    1537.00  1560.00  1462.00     1468.30     1462.55
84        V2 Retail      44.65    44.65    44.65       44.65       40.60

In [74]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/retailing.html")

df_bse_retail = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_retail[['Company','others']]= df_bse_retail['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_retail['Company Name']=df_bse_retail['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_retail = df_bse_retail.iloc[ ::7 , :6: ]

df_bse_retail

         Company Name     Open     High      Low  Last Price  Prev Price
0    Aditya Birla F     173.10   175.35   160.35      166.65      169.35
7               AFL     160.00   162.50   144.60      150.05      147.85
14  Avenue Supermar    2015.00  2098.75  2015.00     2083.30     1998.85
21       Future Ent       8.95     9.15     8.60        9.05        8.75
28    Future Market       9.25     9.50     9.00        9.00        9.10
35    Future Retail      87.20    87.20    87.20       87.20       91.75
42   JLA Infraville      18.80    19.80    18.80       19.80       19.90
49  Mandhana Retail       5.75     5.77     5.30        5.30        5.52
56    Shoppers Stop     228.80   228.80   202.05      222.25      208.75
63              SRL      75.00    76.50    68.50       69.15       72.15
70            Trent     516.55   526.00   475.00      484.80      491.35
77    V-Mart Retail    1598.70  1598.70  1453.25     1462.55     1460.75
84        V2 Retail      44.75    44.75    44.65       44.75       40.70
91    White Organic     100.00   126.00   100.00      125.00      125.00

In [75]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/rubber-products.html")

df_nse_rp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_rp[['Company','others']]= df_nse_rp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_rp['Company Name']=df_nse_rp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_rp = df_nse_rp.iloc[ ::7 , :6: ]

df_nse_rp

    Company Name   Open   High   Low  Last Price  Prev Price
0  Elgi Rubber    11.95  12.15  11.3       11.65        11.5

In [76]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/rubber-products.html")

df_bse_rp = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_rp[['Company','others']]= df_bse_rp['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_rp['Company Name']=df_bse_rp['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_rp = df_bse_rp.iloc[ ::7 , :6: ]

df_bse_rp
#Empty

ValueError: ignored

In [77]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/ship-building.html")

df_nse_shipbuild = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_shipbuild[['Company','others']]= df_nse_shipbuild['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_shipbuild['Company Name']=df_nse_shipbuild['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_shipbuild = df_nse_shipbuild.iloc[ ::7 , :6: ]

df_nse_shipbuild

        Company Name    Open   High    Low  Last Price  Prev Price
0  Cochin Shipyard    234.00  250.0  220.0      243.85      224.15
7  Garden Reach Sh    131.70  137.5  122.2      134.20      127.20

In [78]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/ship-building.html")

df_bse_shipbuild = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_shipbuild[['Company','others']]= df_bse_shipbuild['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_shipbuild['Company Name']=df_bse_shipbuild['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_shipbuild = df_bse_shipbuild.iloc[ ::7 , :6: ]

df_bse_shipbuild

        Company Name    Open   High     Low  Last Price  Prev Price
0  Cochin Shipyard    238.00  249.7  225.95      243.60      224.65
7  Garden Reach Sh    140.00  140.0  122.70      134.45      128.85

In [79]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/shipping.html")

df_nse_shipping = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_shipping[['Company','others']]= df_nse_shipping['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_shipping['Company Name']=df_nse_shipping['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_shipping = df_nse_shipping.iloc[ ::7 , :6: ]

df_nse_shipping

         Company Name    Open    High     Low  Last Price  Prev Price
0         Aspinwall     90.00   98.30   85.00       89.85       81.95
7    Essar Shipping      5.05    5.50    5.00        5.20        5.05
14      GE Shipping    208.70  210.90  192.35      199.40      198.75
21  Global Offshore      2.85    3.15    2.85        2.85        3.00
28         Mercator      0.50    0.50    0.45        0.50        0.45
35    Reliance Naval     1.60    1.70    1.60        1.60        1.65
42           Seamec    237.00  237.80  220.00      235.20      216.20
49    Shipping Corp     35.00   39.85   35.00       36.55       33.70

In [80]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/shipping.html")

df_bse_shipping = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_shipping[['Company','others']]= df_bse_shipping['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_shipping['Company Name']=df_bse_shipping['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_shipping = df_bse_shipping.iloc[ ::7 , :6: ]

df_bse_shipping

         Company Name    Open    High     Low  Last Price  Prev Price
0    Essar Shipping      4.86    5.30    4.86        4.90        4.85
7       GE Shipping    205.00  211.05  191.70      196.95      197.30
14  Global Offshore      2.65    2.88    2.62        2.65        2.75
21    Hariyana Ship     20.00   22.00   20.00       20.20       20.00
28         Mercator      0.46    0.48    0.46        0.48        0.46
35    Reliance Naval     1.59    1.63    1.52        1.54        1.59
42           Seamec    228.50  228.50  228.50      228.50      213.70
49    Shipping Corp     35.00   40.00   34.50       36.70       33.70

In [81]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/software.html")

df_nse_software = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_software[['Company','others']]= df_nse_software['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_software['Company Name']=df_nse_software['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_software = df_nse_software.iloc[ ::7 , :6: ]

df_nse_software

          Company Name    Open    High     Low  Last Price  Prev Price
0      63 Moons Tech     43.80   47.50   43.80       44.80       43.45
7       Accelya Kale    880.20  918.45  875.75      876.05      880.20
14     aurionPro Sol     44.80   44.80   40.00       40.20       41.60
21   Brightcom Group      3.30    3.35    3.20        3.35        3.20
28   California Soft      7.85    7.90    7.30        7.85        7.55
35      Cigniti Tech    225.00  233.80  210.00      219.25      217.75
42     Compucom Soft      3.70    3.85    3.35        3.45        3.70
49      GSS Infotech     20.90   21.55   19.60       20.30       20.55
56    InfoBeans Tech     67.05   67.05   62.05       65.50       63.90
63          Innovana     74.50   74.55   74.50       74.55       78.35
70      Intense Tech     12.80   15.05   11.30       12.20       12.55
77      Melstar Info      2.40    2.40    2.40        2.40        2.50
84          Mindteck     14.45   15.20   14.25       14.65       14.95
91   Newgen Software    115.00  115.00  106.10      109.30      107.40
98   Nucleus Softwar    192.00  197.10  190.00      191.95      189.00
105  OnMobile Global     17.80   17.80   14.60       15.15       16.10
112     Ramco System     87.80   88.20   72.20       78.40       80.20
119      RS Software     10.00   10.90   10.00       10.90       10.40
126          Saksoft    144.00  144.00  120.55      130.70      130.65
133  Silver Touch Te    108.00  108.00  108.00      108.00      102.50
140            Subex      3.25    3.25    3.10        3.20        3.15
147  Tanla Solutions     44.55   44.55   44.55       44.55       42.45
154       Tata Elxsi    640.00  674.00  622.80      639.10      620.55
161         Trejhara      5.30    5.30    5.30        5.30        5.05

In [82]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/software.html")

df_bse_software = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_software[['Company','others']]= df_bse_software['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_software['Company Name']=df_bse_software['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_software = df_bse_software.iloc[ ::7 , :6: ]

df_bse_software

          Company Name    Open    High     Low  Last Price  Prev Price
0      63 Moons Tech     45.25   47.75   44.30       44.65       43.95
7       ABM Knowledg     36.00   37.00   33.00       33.05       32.15
14      Accelya Kale    905.05  905.05  875.00      889.15      876.50
21     aurionPro Sol     38.10   44.70   38.10       40.85       41.40
28   Brightcom Group      3.35    3.36    3.19        3.35        3.20
35   California Soft      8.20    8.20    8.00        8.00        7.98
42      Cigniti Tech    225.00  233.00  214.00      219.10      218.30
49     Compucom Soft      3.85    3.85    3.38        3.61        3.50
56    Cybermate Info      0.86    0.90    0.75        0.78        0.80
63     Eco Recycling     26.00   26.00   22.25       22.40       25.85
70   Firstobject Tec      1.77    1.77    1.77        1.77        1.77
77   Globalspace Tec     50.00   50.00   50.00       50.00       50.00
84      GSS Infotech     21.00   23.00   21.00       21.00       22.10
91      Intense Tech     12.45   15.10   12.15       12.30       12.60
98          Mindteck     13.90   15.25   13.90       14.55       14.60
105     Moschip Tech      7.89    7.89    7.25        7.60        7.53
112  Newgen Software    112.00  117.00  103.50      113.00      107.00
119  Nucleus Softwar    191.05  195.00  187.05      187.10      183.70
126     Odyssey Tech     17.10   17.10   14.50       15.50       15.50
133  OnMobile Global     16.95   17.00   14.10       15.25       16.00
140      Parle Indus     15.00   15.34   14.20       15.34       13.95
147      Prithvi Exc     14.20   17.30   14.20       17.25       15.75
154  Ram Informatics      9.50    9.95    9.40        9.40        9.85
161     Ramco System     85.70   85.70   75.10       76.95       78.00
168      RS Software     10.05   10.80    9.95       10.05       10.30
175          Saksoft    158.90  158.90  127.60      132.35      136.50
182            Subex      3.26    3.26    3.10        3.14        3.14
189  Tanla Solutions     44.70   44.80   44.70       44.80       42.70
196       Tata Elxsi    622.85  673.80  622.85      639.85      619.45
203         Trejhara      6.63    6.63    6.01        6.01        6.32
210     Twinstar Ind      0.57    0.60    0.57        0.60        0.60
217          Virinchi    26.75   26.85   24.20       26.00       23.90

In [83]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/solvent-extraction.html")

df_nse_se = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_se[['Company','others']]= df_nse_se['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_se['Company Name']=df_nse_se['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_se = df_nse_se.iloc[ ::7 , :6: ]

df_nse_se
#Empty

ValueError: ignored

In [84]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/solvent-extraction.html")

df_bse_se = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_se[['Company','others']]= df_bse_se['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_se['Company Name']=df_bse_se['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_se = df_bse_se.iloc[ ::7 , :6: ]

df_bse_se
#Empty

ValueError: ignored

In [85]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/speciality-chemicals.html")

df_nse_sc = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_sc[['Company','others']]= df_nse_sc['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_sc['Company Name']=df_nse_sc['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_sc = df_nse_sc.iloc[ ::7 , :6: ]

df_nse_sc

          Company Name     Open     High      Low  Last Price  Prev Price
0          Aarti Ind     756.00   789.90   735.20      765.90      738.65
7       Alkyl Amines    1270.00  1295.00  1165.00     1182.25     1220.40
14       Apcotex Ind      78.85    78.85    73.90       75.65       73.95
21              Atul    4120.00  4184.15  3800.00     3997.55     3976.00
28     Balaji Amines     264.00   274.00   245.05      250.25      254.50
35       Camlin Fine      37.05    37.05    36.00       37.05       35.30
42     Chembond Chem     154.85   158.80   142.00      147.85      146.45
49   Chromatic India       0.00     0.50     0.45        0.50        0.50
56     Clariant Chem     225.20   234.50   220.00      224.95      223.90
63         DIC India     292.65   304.95   271.00      276.25      279.75
70     Fairchem Spec     418.95   442.00   391.00      398.10      409.50
77     Fineotex Chem      15.25    15.85    14.10       15.00       14.75
84      Foseco India     946.35   946.40   849.70      861.60      893.55
91               GFL      78.00    78.00    74.00       78.00       74.30
98    Guj Heavy Chem      81.00    81.00    79.15       81.00       77.15
105         IG Petro      97.00   103.50    90.00       91.35       95.30
112  Jayant Agro-Org      58.95    60.00    53.80       56.85       56.45
119     Kanoria Chem      24.75    26.35    24.10       24.70       24.55
126     Manali Petro      10.00    10.90    10.00       10.25        9.70
133   Navin Fluorine    1349.00  1350.00  1256.40     1290.90     1291.65
140           Neogen     351.00   351.00   325.10      327.85      335.15
147    Omkar Special       2.50     2.50     2.30        2.30        2.40
154     Plastiblends     117.00   129.50   108.95      112.95      110.10
161  Seya Industries      43.10    43.10    43.10       43.10       45.35
168    Supreme Petro     123.50   126.90   123.50      125.50      124.00
175    Vikas Ecotech       1.05     1.10     1.00        1.10        1.05
182        Vikas WSP       4.95     4.95     4.20        4.30        4.80
189  Vinati Organics     820.00   840.00   728.00      794.90      785.35
196  Vinyl Chemicals      40.15    43.00    38.40       40.10       39.70

In [86]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/speciality-chemicals.html")

df_bse_sc = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_sc[['Company','others']]= df_bse_sc['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_sc['Company Name']=df_bse_sc['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_sc = df_bse_sc.iloc[ ::7 , :6: ]

df_bse_sc

          Company Name     Open     High      Low  Last Price  Prev Price
0          Aarti Ind     762.50   787.00   740.00      769.05      740.15
7       Alkyl Amines    1263.35  1290.30  1163.00     1195.30     1222.80
14              Amal     100.00   100.00    91.50       92.25       99.75
21       Apcotex Ind      80.00    80.85    74.15       74.90       74.05
28              Atul    4084.05  4180.00  3826.00     3997.05     3970.05
35     Balaji Amines     266.70   273.00   246.85      250.20      253.15
42    Black Rose Ind      69.10    69.10    68.00       69.10       65.85
49       Camlin Fine      37.25    37.25    36.00       37.25       35.50
56   Chemcrux Enterp      70.00    70.00    67.25       67.95       68.80
63   Chromatic India       0.50     0.50     0.50        0.50        0.50
70     Clariant Chem     228.00   234.55   220.00      225.15      224.85
77   Cochin Minerals      90.00    97.50    90.00       92.00       89.10
84   Dai-Ichi Karkar     168.90   176.95   163.15      171.75      168.90
91    Daikaffil Chem      20.80    20.80    15.30       16.50       17.35
98   Dharamsi Morarj      65.00    65.00    61.50       61.50       63.85
105        DIC India     286.35   290.00   278.00      278.00      276.15
112    Fairchem Spec     446.00   447.00   381.05      393.25      420.30
119    Fineotex Chem      15.20    16.05    14.75       15.00       14.80
126     Foseco India     905.00   905.00   850.75      859.00      888.05
133              GFL      76.90    78.05    75.15       78.05       74.35
140   Guj Heavy Chem      80.55    80.55    79.50       80.55       76.75
147  Hind Flurocarbo       2.88     2.88     2.88        2.88        2.93
154         IG Petro     101.70   101.70    91.05       91.55       95.45
161   India Gelatine      80.00    82.00    77.05       79.00       81.00
168      Indo Amines      29.10    29.15    26.00       27.95       26.50
175  Jayant Agro-Org      58.00    59.10    54.00       57.30       56.05
182     Jyoti Resins     112.10   134.30   112.10      134.30      112.00
189     Kanoria Chem      24.90    26.10    24.05       24.05       24.05
196    KELTECH Energ     465.00   465.00   433.00      444.00      464.15
203    Kemistar Corp      39.00    39.00    39.00       39.00       39.50
210     Manali Petro      10.00    10.90    10.00       10.25        9.80
217  Multibase India      99.50   100.00    85.50       86.20       89.00
224  Narmada Gelatin     123.75   123.75   113.05      118.00      112.65
231   Navin Fluorine    1333.00  1348.00  1255.00     1288.45     1292.45
238           Neogen     335.00   346.90   320.00      326.20      331.80
245    Nitta Gelatin      91.90    92.00    86.20       88.50       90.90
252    Omkar Special       2.45     2.45     2.45        2.45        2.57
259      Paushak Ltd    1836.00  1840.00  1740.20     1821.85     1768.30
266     Plastiblends     120.00   128.00   108.30      111.05      115.05
273           Polson    7150.00  7265.00  6900.00     7199.00     7000.50
280  Seya Industries      42.70    42.70    42.70       42.70       44.90
287    Supreme Petro     127.15   127.15   125.00      125.95      123.10
294   Titan Bio-Tech      36.85    36.85    34.30       35.95       35.40
301      Ultramarine     142.90   142.90   125.50      134.30      128.65
308    Vikas Ecotech       1.06     1.11     1.06        1.11        1.06
315        Vikas WSP       4.80     4.80     4.10        4.25        4.77
322  Vinati Organics     823.60   840.00   724.50      799.50      785.00
329  Vinyl Chemicals      40.00    41.20    40.00       40.05       39.80
336      Yash Chemex      75.00    75.00    64.05       65.80       64.90

In [87]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/speciality-retailers.html")

df_nse_sr = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_sr[['Company','others']]= df_nse_sr['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_sr['Company Name']=df_nse_sr['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_sr = df_nse_sr.iloc[ ::7 , :6: ]

df_nse_sr

         Company Name   Open   High    Low  Last Price  Prev Price
0           Archies     8.45   8.85   8.05        8.80        8.45
7   Infibeam Avenue    36.40  36.40  30.90       31.85       33.10
14  Praxis Home Ret    48.45  48.45  48.45       48.45       50.95

In [88]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/speciality-retailers.html")

df_bse_sr = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_sr[['Company','others']]= df_bse_sr['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_sr['Company Name']=df_bse_sr['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_sr = df_bse_sr.iloc[ ::7 , :6: ]

df_bse_sr

        Company Name   Open   High    Low  Last Price  Prev Price
0  Infibeam Avenue    36.30  36.30  31.00       32.05       33.00
7       Nyssa Corp     0.51   0.51   0.51        0.51        0.51

In [89]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/nse/specialty-mining-metals.html")

df_nse_smm = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_nse_smm[['Company','others']]= df_nse_smm['Company Name'].str.split(r"\bAdd\b",expand=True)
df_nse_smm['Company Name']=df_nse_smm['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_nse_smm = df_nse_smm.iloc[ ::7 , :6: ]

df_nse_smm

         Company Name    Open    High     Low  Last Price  Prev Price
0        20 Microns     22.50   23.95   21.60       23.15       21.75
7     Ashapura Mine     20.55   21.15   20.05       20.50       20.15
14             MOIL    100.90  118.70  100.55      102.20      100.25
21  South West Pinn     11.55   12.50    9.50       11.45       11.75

In [90]:
import pandas as pd

raw_data=pd.read_html("https://www.moneycontrol.com/stocks/marketstats/industry-classification/bse/specialty-mining-metals.html")

df_bse_smm = raw_data[0] #list to dataframe

#df_abrasives_bse = df_abrasives_bse.drop(columns=['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'],axis=1)

df_bse_smm[['Company','others']]= df_bse_smm['Company Name'].str.split(r"\bAdd\b",expand=True)
df_bse_smm['Company Name']=df_bse_smm['Company']

#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html > selection by position
#https://stackoverflow.com/questions/55291667/getting-typeerror-slicenone-none-none-0-is-an-invalid-key
df_bse_smm = df_bse_smm.iloc[ ::7 , :6: ]

df_bse_smm

       Company Name    Open    High    Low  Last Price  Prev Price
0      20 Microns     22.45   24.60   21.7       23.80       20.80
7   Ashapura Mine     20.70   21.05   20.5       20.65       20.05
14           MOIL    102.65  117.20  101.0      102.15      100.10